@media only screen and (min-width: 800px) {
    /*Error 404*/
    .page-template-404-php .entry, .error404 .entry {
        margin: 0 auto;
        width: 42.55%;
    }
    .three-col-left #main-sidebar-container .recipe-info-page , .three-col-middle #main-sidebar-container .recipe-info-page , .three-col-right #main-sidebar-container .recipe-info-page {
        padding: 0 !important;
    }
}