/* 5.1 Comments */
#comments {
    position: relative;
    margin: 42px 0 0;
    padding: 42px 0 0 0;
    border-top: 1px solid #e1e1e1;
}
#comments h3 {
    color: #545454;
    font-weight: normal;
    margin-bottom: 1.067em;
}
#comments .comment.thread-even {
    background: #fafafa;
    background: rgba(0, 0, 0, 0.02);
    // border-bottom: 1px solid #e1e1e1;
}
#comments .comment {
    margin-top: 10px;
    width: 100%;
    list-style-type: none;
}
#comments .comment .comment-container {
    position: relative;
    padding: 21px;
}
#comments .comment-head {
    margin: 0 0 15px 0;
}
#comments .avatar {
    float: left;
    margin: 0 15px 10px 0;
}
#comments .avatar img {
    margin: 0;
    vertical-align: middle;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
#comments .comment-head .name {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
}
#comments .comment-head .date, #comments .comment-head .edit, #comments .comment-head .perma {
    font-size: 11px;
}
#comments .comment-entry p {
    margin: 0 0 10px 0;
}
#comments .reply {
    padding-top: 10px;
}
#comments .reply a {
    color: #fff;
}
#comments ul.children {
    margin: 10px 10px 0 25px;
    padding: 0;
}
#comments ul.children li {
    border-top: 1px solid #e1e1e1;
}
#comments .cancel-comment-reply {
    margin: 10px 0;
}
#comments .navigation a {
    display: block;
    margin: 15px 0 0 0;
    text-decoration: none;
}
#comments h3#pings {
    margin-top: 25px;
}
#comments .pingbacks li.pingback {
    margin: 10px 0;
}
#comments .pingbacks li.pingback .reply {
    display: none;
}
/* 5.2 Comments Form */
#respond {
    margin: 42px 0 0;
}
#respond h3 {
    color: #545454;
    font-weight: normal;
    text-transform: uppercase;
    padding: 21px 0 13px;
    margin-bottom: 1.067em;
    // border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
#respond #reply-title small {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}
#respond .left {
    float: left;
    width: 200px;
    margin-right: 15px;
}
#respond .right {
    float: left;
    width: 380px;
}
#respond label {
    font-size: 11px;
    color: #777;
}
#commentform {
    margin: 15px 0 0 0;
}
#commentform input.txt, #commentform textarea {
    font: 300 13px/1em "Open Sans", Helvetica, sans-serif;
}
#commentform input.txt {
    width: 170px;
    margin: 0 5px 10px 0;
    padding: 6px 7px ;
}
#commentform textarea {
    width: 97% !important;
    padding: 6px 7px ;
}
#commentform input#submit {
    float: right;
    margin: 15px 0 0 0;
    background: #bf9764;
    border: none;
    font-size: 13px;
    padding: 8px 20px;
    color: #fff;
}
/* 5.3 Pingbacks / Trackbacks */
h3#pings {
    margin: 25px 0 10px 0;
}
.pinglist li {
    margin: 0 0 0 20px;
    list-style-type: decimal;
}
.pinglist li .author {
    font-weight: bold;
    font-size: 15px;
}
.pinglist li .date {
    font-size: 11px;
}
.pinglist li .pingcontent {
    display: block;
    margin: 10px 0;
}