
/* 6.3 Contact Form */
#contact-page .screenReader {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
#contact-page ol.forms {
    float: left;
    list-style: none;
    width: 100%;
    margin: 10px 0 0;
}
#contact-page ol.forms li {
    clear: both;
    float: left;
    margin-bottom: 18px;
    position: relative;
    width: 100%;
}
#contact-page ol.forms label {
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 700;
    padding-right: 20px;
    width: 80px;
}
#contact-page ol.forms input.txt {
    width: 214px;
}
#contact-page ol.forms input#sendCopy {
    border: none;
}
#contact-page ol.forms textarea {
    height: 300px;
    width: 70%;
}
#contact-page ol.forms li .error {
    font-size: 12px;
    display: block;
    margin-left: 120px;
    color: red;
}
#contact-page ol.forms li.textarea .error {
    display: block;
    margin-left: 120px;
}
#contact-page ol.forms li.screenReader {
    margin-bottom: 0;
}
#contact-page ol.forms li.buttons .submit {
    margin: 0 0 0 100px;
}
#contact-page ol.forms li.inline input {
    width: auto;
    margin-left: 120px;
}
#contact-page ol.forms li.inline label {
    display: inline;
    float: none;
    width: auto;
}
#contact-page ol.forms li.inline input#sendCopy {
    margin-left: 100px;
    margin-right: 7px;
}
.three-col-left #contact-page ol.forms textarea, .three-col-middle #contact-page ol.forms textarea, .three-col-right #contact-page ol.forms textarea {
    width: 65%;
}
.three-col-left #contact-page ol.forms input#sendCopy, .three-col-middle #contact-page ol.forms input#sendCopy, .three-col-right #contact-page ol.forms input#sendCopy {
    float: left;
}
/* 6.4 Gravity forms */
.gfield {
    margin-bottom: 10px;
}
.gform_wrapper .top_label .gfield_label {
    display: block;
    padding-right: 20px;
    margin: 5px 0px 4px !important;
}
.gform_wrapper input.button {
    padding: 5px 10px 6px !important;
}
.gform_wrapper .ginput_complex label, .gform_wrapper .gfield_time_hour label, .gform_wrapper .gfield_time_minute label, .gform_wrapper .gfield_date_month label, .gform_wrapper .gfield_date_day label, .gform_wrapper .gfield_date_year label, .gform_wrapper .instruction {
    letter-spacing: 0px;
}
.gform_wrapper input {
    padding: 7px 3px !important;
}
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea {
    width: 400px !important;
    padding: 7px 3px !important;
}
.gform_wrapper .entry img, .gform_wrapper img.thumbnail {
    padding: 0px !important;
    border: 0px !important;
}
ul.top_label .clear-multi {
    clear: none !important;
}
.gform_wrapper .gfield_checkbox, .gform_wrapper .gfield_radio {
    margin-left: 10px !important;
}
img.ui-datepicker-trigger {
    border: 0px;
    padding: 0px;
}
/* 6.6 Subscribe & Connect */
#connect {
    background: #fafafa;
    margin: 0 0 1.5em;
    padding: 15px;
    border: 1px solid #e1e1e1;
    clear: both;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: normal;
}
#main #connect .col-left, #connect .col-right {
    float: none;
    width: 100%;
}
#connect h3 {
    margin-bottom: 10px;
}
#connect p {
    margin: 0 0 1em;
}
#connect .newsletter-form {
    margin: 0 1em 1em 0;
}
#connect .newsletter-form .email {
    width: 140px;
}
#connect .newsletter-form .submit {
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 0 0 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background: #bf9764;
}
#connect .related-posts {
    border-top: 1px solid #e6e6e6;
    margin-top: 1em;
    padding-top: 1em;
}
#connect .related-posts h4 {
    font-size: 1em;
}
#connect .related-posts ul {
    list-style: none;
    margin: 5px 0 5px 0;
}
.widget #connect {
    background: none;
    padding: 0;
    border: none;
}
.widget #connect .fl, .widget #connect .fr {
    float: none;
}
#connect .social a {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
#connect .social a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#connect .social a {
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
}
 
.facebook-button {
    background-color: #3a589d !important;
}
/* 8.6 Contact Page Template */
#single_map_canvas img {
    max-width: inherit;
}
.page-template-template-contact-php .location-twitter {
    margin: 0 0 1em;
    padding: 0 0 1.618em;
    border-bottom: 1px solid #e6e6e6;
}
.page-template-template-contact-php .location-twitter .col-left {
    float: none;
}
.page-template-template-contact-php .location-twitter ul {
    margin: 0;
    padding: 0;
}
.page-template-template-contact-php .location-twitter ul li {
    list-style: none;
    padding: 0;
}
.page-template-template-contact-php .location-twitter #office-location {
    margin: 0 0 1.618em;
}
.page-template-template-contact-php .location-twitter #office-location a {
    text-decoration: underline;
}
.page-template-template-contact-php .location-twitter #office-location ul li {
    margin: 0 0 1em;
}
.page-template-template-contact-php .location-twitter .contact-social {
    float: none;
}
.page-template-template-contact-php .location-twitter .contact-social #twitter {
    margin: 0 0 1.618em;
}
.page-template-template-contact-php .location-twitter .contact-social #twitter ul li {
    padding-bottom: 10px;
}
.page-template-template-contact-php .location-twitter .contact-social #twitter ul li a.time {
    color: #7b7b7b;
}
.page-template-template-contact-php .location-twitter .contact-social #connect {
    background: none;
    border: none;
    padding: 0;
    margin: 1em 0 0;
}
.page-template-template-contact-php .location-twitter .contact-social #connect div p {
    display: none;
}
.page-template-template-contact-php .location-twitter .contact-social #connect img {
    border: none;
    padding: 0;
    background: none;
}
.page-template-template-contact-php .location-twitter .contact-social #connect h3 {
    display: none;
}
.page-template-template-contact-php .location-twitter .contact-social #connect .social {
    float: none;
}

@media only screen and (min-width: 800px) {
    /* Contact Page */
      .page-template-template-contact-php .location-twitter .col-left {
        float: left;
    }
    .page-template-template-contact-php .location-twitter #office-location {
        width: 48%;
        margin: 0;
    }
    .page-template-template-contact-php .location-twitter .contact-social {
        float: right;
        width: 48%;
    }
    .page-template-template-contact-php .location-twitter .contact-social #twitter {
        margin: 0;
    }
    #footer-wrap, #footer-wrap-bottom {
        margin: 0;
        padding: 0 ;
    }
    #footer {
        padding-bottom: 0;
    }
}
@media (max-width: 800px) {
    /* Contact Page */
    #contact-page ol.forms li.inline input#sendCopy{
        margin-left: 0px; 
    }
    #contact-page ol.forms input.txt,#contact-page ol.forms textarea{
        width: 100%;
        margin-top: 5px;
    }
}
