.recipe-title {
    margin-bottom: .5em;
    /*border-bottom: 1px solid #e1e1e1;*/
}
.page-template-template-recipes-list-php .recipe-info-list .recipe-title {
    border-bottom: none;
    margin-bottom: 20px;
}
.th-recipe {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 3px solid #bf9764;
    margin-bottom: .75em;
    position: relative;
}
.th-recipe img {
    padding: 0!important;
    border: none!important;
}
.th-recipe-list {
    width: 30%;
    height: auto;
    overflow: hidden;
    display: block;
    float: left;
    border-bottom: 3px solid #bf9764;
}
.th-recipe-list img {
    padding: 0!important;
    border: none!important;
}
.recipe-content {
    margin-left: -1.5%;
    margin-right: -1.5%;
}
.recipe-grid-item {
    margin-bottom: 20px;
    width: 30.333%;
    float: left;
    padding-right: 1.5%;
    padding-left: 1.5%;
    position: relative;
    @media screen and (min-width:768px){    
        .tax-recipe_type & {
            height: 280px;
        }
    }
}
.one-col.tax-recipe_type .recipe-grid-item {
    height: 335px;
    @media only screen and ( max-width: 768px ) {
        height: auto;
    }
}
.recipe-list-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    display: inline;
    float: left;
}
.recipe-info h3 {
    font-size: 13px;
    margin-bottom: 0;
    text-align: center;
    overflow: hidden;
}
.recipe-list-item h2.title a:hover {
    color: #bf9764;
}
.recipe-tags-list {
    text-align: right;
    margin-top: -20px;
}
.recipe-tags-list span {
    top: -35px;
    position: relative;
}
.recipe-tags-list ul {
    text-align: left;
    padding: 0px;
    margin-bottom: 15px!important;
}
.recipe-tags-list ul li {
    list-style: none;
    display: inline ;
}
.recipe-info {
    text-align: center;
}
.recipe-info-list {
    text-align: left;
    display: block;
    float: left;
    width: 65%;
    margin-left: 20px;
}
.recipe-info li {
    display: inline-block;
}
.recipe-info-page {
    margin: 0px!important;
    padding: 15% 0px!important;
}
.recipe-info-page li {
    margin-left: 0px;
    color: #fff;
    padding: 0px 10px 0px 10px;
}
.box-info-list {
    // border: 1px solid #ababab;
    // width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    o-border-radius: 6px;
    // text-align: center;
}
.line-gold {
    border-top: 1px solid #bf9764;
}
.get-recipe {
    text-align: right;
    display: block;
    position: relative;
    top: -13px;
    margin-bottom: 0;
}
.get-recipe a {
    color: #bf9764;
    font-style: italic;
    text-align: right;
    background-color: #fff;
    padding-left: 20px;
    font-family: 'Georgia';
}
.get-recipe a:hover {
    color: #a68356;
}

div.snipit {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.snipit ul li {
    list-style: none;
}
.snipit p {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.snipit a {
    color: white!important;
    font-size: 16px;
}
.recipe-grid-item:hover .snipit {
    opacity: 1
}

.fork {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.fork em {
    color: #fff;
    background-color: #bf9764;
    padding: 10px!important;
}
.fork em:hover {
    background-color: #a68356;
}
.orderby .recipe-ordering {
    position: relative;
    float: right;
    display: block;
}
.orderby .recipe-ordering select {
    padding: 6px;
    width: 190px;
    margin-bottom: 20px;
}
.orderby .recipe-ordering button {
    border: none;
    background: none;
    color: #8e8e8e;
    width: 20px
}
.orderby .recipe-ordering button:hover {
    color: #454545;
}
/*-----------------------------------------------------------------------------------*/
/*  single Page styles
/*-----------------------------------------------------------------------------------*/
.content-full {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.content-left-first {
    width: 68%;
    display: block;
    float: left;
    position: relative;
    margin-right: 2%;
}
.content-right-first {
    width: 30%;
    display: block;
    float: left;
    position: relative;
}
.content-left-sec {
    width: 73.0%;
    display: block;
    float: left;
    position: relative;
    margin-right: 1%;
}
.content-right-sec {
    width: 26.0%;
    display: block;
    float: left;
    position: relative;
}
.recipe-info-single-big {
    text-align: left;
    display: block;
    padding: 10px 0 10px 0 !important;
    border: 1px  ;
    border-style: solid none solid none;
    border-color: #bf9764;
}
.recipe-info-single-big ul {
}
.recipe-info-single-big > li {
    width: 140px;
    text-align: left;
    list-style: none;
    display: inline-block;
}
.prep-time, .cook-time, .yield {
    border-right: 1px solid #e3e3e3;
}
.prep-time li:last-child, .cook-time li:last-child, .yield li:last-child, .skill_level a {
    color: #bf9764;
}
.prep-time em, .cook-time em, .yield em, .skill_level em {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    color: #e4e1db;
    font-size: 34px;
    margin-right: 10px;
    display: block;
}
.recipe-info-single-big li ul {
    margin: 0!important;
    text-align: left;
    list-style: none;
    display: block;
}
.recipe-info-single {
    text-align: left;
    display: block;
    float: left;
}
.title-single {
    width: 100%;
}
.title-single ul li, .recipe-info-single li {
    display: inline-block;
}
.title-single li, .recipe-info-single li {
    margin-left: 0px;
    border-right: 1px solid #e3e3e3;
    padding: 0px 10px 0px 10px;
}
.title-single li:first-child , .recipe-info-single li:first-child {
    padding-left: 0px;
}
.title-single li:last-child , .recipe-info-single li:last-child {
    border-right: none;
}

.info-right {
    text-align: center;
}
.info-right p {
    color: #545454;
    background-color: #f7f6f4;
    padding: 10px 0 10px 0;
}
.rating-single{
    margin-bottom: 20px;
}
.rating-single p {
    background-color: #bf9764;
    color: #fff;
    padding: 10px 0 10px 0;
    font-size: 13px;
    text-transform: uppercase;
}
.rating-single ul {
    list-style: none;
    li{
        float: left;
        width: 100%;
    }
}

.rate-box h6 {
    color: #696969;
    margin: 6px 0px 10px 0px;
}
.rate-box .ex-rates {
    margin: 0px;
}

.rate-box .hreview-aggregate {
    display: none;
}
.rate-box .rates {
    color: #0053a6;
}
.rate-box #rate-product p {
    margin-bottom: 15px;
}
.rate-box .rate-left, .rate-box .rate-right{
    li{
        float: left;
        width: 100%;
    }
}
.rate-box .rate-right, .rating-single{
    .df-rating-star,
    .df-rating-avg {
          left: 50%;
          margin-left: -51px;
    }
}
.recipe-grid-item .rating{
    display: block;
    position: relative;
    float: left;
    width: 100%;

    .df-rating-star,
    .df-rating-avg {
          left: 50%;
          margin-left: -39px;
    }
}
.recipe-info-list{
    span{
        border-right: 1px solid #eee;
        padding: 0px 5px 0px 0px;
    }
    span:last-child{
        padding: 0px 0px 0px 5px;
        border-right: none;
    }
}

/****** Style Star Rating Widget *****/
.df-rating-star,
.df-rating-avg {
      border: 0;
      margin-bottom: 10px;
      float: left;
      position: relative;
}
.df-rating-avg > label {
    cursor: default;
}

.df-rating-star > input,
.df-rating-avg > input {
    display: none;
}
.df-rating-star > label:before,
.df-rating-avg > label:before{
    margin: 1px;
    font-size: 20px;
    font-family: 'fontAwesome';
    display: inline-block;
    content: "\f005";
}
#sidebar, .box-info-list, #footer-wrap, .recipe-grid-item, .slide-info {
    .df-rating-star > label:before,
    .df-rating-avg > label:before{
        font-size: 15px;
    }
}
.df-rating-star > .half:before,
.df-rating-avg > .half:before {
    content: "\f089";
    position: absolute;
}

.df-rating-star > label,
.df-rating-avg > label {
    color: #eee;
    float: right;
    font-size: 13px;
}

/***** CSS to Highlight Stars on Hover *****/

.df-rating-avg > input:checked ~ label,
.df-rating-star > input:checked ~ label,
.df-rating-star:not(:checked) > label:hover,
.df-rating-star:not(:checked) > label:hover ~ label
{
    color: #FFD700;
}

.df-rating-star > input:checked + label:hover,
.df-rating-star > input:checked ~ label:hover,
.df-rating-star > label:hover ~ input:checked ~ label,
.df-rating-star > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

.rate-box #output {
    display: none;
    margin: 0px;
}
.rate-box
.status span {
    color: #bf9764;
}
.rate-title {
    border-bottom: 1px solid #bf9764;
    margin-top: 20px;
    margin-bottom: 30px;
}
.rate-title p {
    margin: 0!important;
    padding: 10px;
    background-color: #bf9764;
    color: #fff;
    width: 170px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}
.rate-img {
    width: 12%;
    display: block;
    float: left;
    text-align: right;
    margin-right: 2%;
}
.rate-img img {
    width: 70px!important;
    height: 70px!important;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
}
.rate-left {
    width: 36%;
    float: left;
    display: block;
}
.rate-left ul li {
    display: inline-block;
}
.rate-right {
    width: 50%;
    float: left;
    text-align: center;
    display: block;
}
.sub-img {
    margin-bottom: 40px;
}
.single-img-box, .single-slider {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0px 0px 20px 0px;
}

.single-img-box .img-nav {
    float: left;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    z-index: 9999;
}
.single-img-box .img-nav {
    padding: 5px 10px 5px;
    float: left;
    position: absolute;
    bottom: 8px;
    right: 1px;
    background-color: #fff;
    z-index: 9999;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.single-img-box .img-nav a.activeSlide {
    background-position: 0px -12px;
}
.single-img-box img{
    padding: 0px;
    border: none;
}
.recipe-tabMenu {
    padding: 0px;
    list-style: none;
    display: block;
    margin-top: 30px;
}
.recipe-tabMenu ul li {
    display: inline;
    list-style: none;
}
.recipe-menu-tab {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}
.recipe-menu-tab a {
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    display: inline;
    padding: 10px!important;
    font-family: 'Georgia';
    text-transform: uppercase;
    margin: 0px !important;
    position: relative;
    cursor: pointer;
    bottom: 8.2px;
    z-index: 99;
    background-color: #f7f6f4;
    font-size: 16px;
    outline: none;
}
.recipe-menu-tab a:hover, .recipe-tabMenu .ui-state-active a{
    background: #fff !important;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #fff !important;
    color: #bf9764 ;
}
.boxBody div.parent {
    display: none;
}
.boxBody div.show {
    display: block;
}
.boxBody div {
    margin: 0px 0px 20px 0px;
}
.text-tab {
    padding-left: 20px
}
.info-bot {
}
.info-bot li {
    display: block!important;
    color: #bf9764;
}
.info-bot span {
    color: #545454
}
.text-size {
    text-align: right;
    float: right;
    color: #e3e3e3;
}
button.increase, button.decrease {
    background: none;
    border: 0;
    color: #e3e3e3;
}
button.increase:hover, button.decrease:hover {
    color: #bf9764

}
.ytv-embed {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*  Submit Recipe Page Styles
/*-----------------------------------------------------------------------------------*/
#recipe-form {
    float: left;
}
#recipe-form input {
    padding: 5px;
    color: #000;
    border: 1px solid #ebebeb;
    font-family: "Open Sans";
}
#login-signup-forgot input {
    padding: 5px;
    border: 1px solid #ebebeb;
    font-family: "Open Sans";
}
#recipe-form textarea {
    padding: 5px;
    width: 530px;
    color: #000;
    border: 1px solid #ebebeb;
    font-family: "Open Sans";
}
#recipe-form .input-title {
    width: 530px;
}
#recipe-form .wys {
    width: 530px;
    margin-bottom: 20px;
    font-family: "Open Sans";
}
#recipe-form .wys #wp-description-editor-container {
    border: 1px solid #DBDBDB;
}
#recipe-form fieldset , #login-signup-forgot fieldset {
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0px 0px 20px;
    position: relative;
}
#recipe-form label, #login-signup-forgot label {
    display: block;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}
#recipe-form label.error, #login-signup-forgot label.error {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
}
#recipe-form .in-set , #login-signup-forgot .in-set {
    margin-bottom: 20px;
    border: none!important;
    padding: 0!important;
}
#recipe-form .outer, #login-signup-forgot .outer {
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 0px!important;
    margin: 0px!important;
}
#recipe-form .rwmb-clone {
    margin-bottom: 20px;
}
#recipe-form .rwmb-clone input {
    width: 490px!important;
}
#recipe-form .rwmb-clone button, #recipe-form .rwmb-input button {
    border-top: 2px solid #ebebeb;
    border-left: 2px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: #ababab;
    background-color: white;
    padding: 5px 10px;
}
#recipe-form .rwmb-clone button:hover, #recipe-form .rwmb-input button:hover {
    background-color: #bf9764;
    color: #fff;
    border-top: 2px solid #a68356;
    border-left: 2px solid #a68356;
    border-bottom: 1px solid #a68356;
    border-right: 1px solid #a68356;
}
#recipe-form .half {
    width: 256px;
    float: left;
    display: block;
    margin-right: 20px;
}
#recipe-form .half input {
    width: 250px!important;
}
#recipe-form .half select {
    width: 250px!important;
    padding: 5px;
    border: 1px solid #ebebeb;
}
#recipe-form .twoThird {
    width: 340px!important;
    float: left;
    display: block
}
#recipe-form .twoThird input {
    width: 285px!important;
}
#recipe-form .third, #recipe-form .oneThird {
    width: 166px;
    float: left;
    display: block;
    margin-right: 20px;
}
#recipe-form .third input {
    width: 155px!important;
}
#recipe-form .oneThird input {
    width: 105px!important;
}
#recipe-form .recipe-title input.error {
    border: 1px solid red;
}
#recipe-form .content textarea.error {
    border: 1px solid red;
}
#recipe-form span.note {
    display: block;
    color: #bf9764;
    margin: 0px 0px 10px 0px;
    font-size: 11px;
}
#recipe-form .recipe-detail {
    margin-bottom: 0px;
}
#recipe-form .recipe-detail label {
    display: inline-block;
    margin-right: 10px;
}
#recipe-form .recipe-detail div {
    margin-bottom: 20px;
}
#recipe-form .outer-form, #login-signup-forgot .outer-form {
    padding-left: 20px;
}
#recipe-form .title-recipe {
    font-weight: bold;
    font-family: "Open Sans";
}
#recipe-form .tltip {
    font-size: 18px;
    color: #e7e7e7;
    margin-left: 10px;
    position: relative;
    display: inline-block;
}
#recipe-form .tltip:hover {
    color: #97ccf0;
}
div.tooltip {
    background-color: #3D6199;
    color: white;
    position: absolute;
    left: 25px;
    top: -10px;
    z-index: 1000000;
    width: 250px;
    border-radius: 5px;
    display: none;
}
div.tooltip:before {
    border-color: transparent #3D6199 transparent transparent;
    border-right: 6px solid #3D6199;
    border-style: solid;
    border-width: 6px 6px 6px 0px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    line-height: 0;
    position: absolute;
    top: 10px;
    left: -6px;
}
div.tooltip p {
    margin: 10px;
    color: white;
    font-family: "Open Sans";
    font-size: 11px;
}
#recipe-form  .last-field {
    border: none!important;
}
#recipe-form .submit, #login-signup-forgot .submit {
    padding: 20px 0px!important;
    border: none!important;
}
#recipe-form .submit button, #login-signup-forgot .submit button {
    background-color: #bf9764;
    height: 40px;
    width: 200px;
    border: none;
    text-transform: uppercase;
}
#recipe-form .submit button:hover, #login-signup-forgot .submit button:hover {
    background-color: #a68356;
    border: none;
}
#recipe-form .submit button p, #login-signup-forgot .submit button p {
    color: white;
    margin: 0px;
    font-size: 12px;
}
#recipe-form .recipe-categories {
}
#recipe-form .recipe-categories label {
    width: 120px;
    display: inline-block;
}
#recipe-form .recipe-categories label.for-tags {
    width: auto;
    margin-right: 10px;
}
#recipe-form .recipe-categories span.note {
    display: inline;
}
#recipe-form .recipe-categories div {
    margin-bottom: 20px;
}
#recipe-form .recipe-categories select {
    width: 120px;
    padding: 0px 0px 0px 5px;
    border: 1px solid #efefef;
    color: #6F716B;
    padding: 5px;
    box-shadow: 0px 2px 6px #E2E2E2 inset;
}
.recipe-message {
    border-top: 1px solid #bf9764;
    border-bottom: 1px solid #bf9764;
    border-right: 1px solid #bf9764;
    border-left: 5px solid #bf9764;
    padding: 20px 0 0 20px;
}
.recipe-message h4 em {
    background-color: #bf9764;
    color: #fff;
    margin-right: 10px;
    border-radius: 20px;
    padding: 8px;
}


/*-----------------------------------------------------------------------------------*/
/* Misc recipe
/*-----------------------------------------------------------------------------------*/
.info-extra {
    border: 1px;
    border-style: solid none solid none;
    border-color: #e3e3e3;
    padding-top: 1.067em;
    padding-bottom: 1.067em;
    margin-bottom: 20px;
}
.extra .printfriendly-text2:before {
    content: "\f02f";
    margin-right: 5px;
    font-family: "FontAwesome" ;
}
.extra {
    float: right;
    margin-top: 5px;
    margin-bottom: 0;
}
.extra li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.extra a {
    color: #e3e3e3;
}
.extra a:hover {
    color: #bf9764;
}
ul.ingre {
    margin-bottom: 40px;
}
.ingre li em {
    font-size: 5px;
    vertical-align: middle;
}
.ingre li {
    display: block!important;
    margin-bottom: 10px;
    margin-left: 20px;
}
.method_step {
    margin:0px 0px 40px 35px;
}
.method_step li{
    margin-bottom: 10px;
}
.nutritional p span {
    color: #bf9764;
    margin-right: 20px;
    font-family: 'Georgia';
    font-size: 16px;
}
.nutritional ul {
    border: 1px;
    border-bottom: 5px;
    border-style: solid ;
    border-color: #e3e3e3;
    padding: 0px 20px;
    text-align: left;
    border-radius: 5px;
}
.nutritional p {
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: 0px!important;
    padding: 20px 0 20px 0;
}
.nutritional h3 {
    text-align: center;
    padding: 10px 0 10px 0;
    margin-bottom: 0px!important;
}
.nutritional ul li:last-child p{
    border-bottom: none;
}
.recipe-share {
    border: 1px;
    border-style: solid none;
    margin: 0px 0px 20px 0px;
    border-color: #e3e3e3;
    padding: 10px 0;
}
.recipe-share h3 {
    margin: 0!important;
    width: 30%!important;
    display: inline-block;
    float: left;
    padding-top: 10px
}
.recipe-share .share-top{
    float: right;
}
.share-top {
    margin: 0;
    list-style: none;
    display: inline-block;
}
.share-top li {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}
.share-top li div {
    margin: 0px!important;
}
.share-top li div iframe {
    width: 80px!important;
}
.share-top li a i {
    background-color: #c3c3c3;
    color: #fff;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    width: 22px;
    border-radius: 100%;
    height: 22px;
    vertical-align: middle;
    display: table-cell;
    -webkit-transition: opacity .3s ;
    -moz-transition: opacity .3s ;
    -ms-transition: opacity .3s ;
    -o-transition: opacity .3s ;
    transition: opacity .3s ;
}
.share-top li a i:hover {
    opacity: .5;
}
/*-----------------------------------------------------------------------------------*/
/*  5.  Sliders Styles
/*-----------------------------------------------------------------------------------*/
.slider {
    width: 100%;
    height: 100%;
    margin: 0 0 20px;
    position: relative;
}
.recipe-item, .method-slider, .featured-slider {
    position: relative;
    margin: 0 0 20px;
}
.owl-stage-outer {
    -webkit-transition: height .5s ease;
       -moz-transition: height .5s ease;
        -ms-transition: height .5s ease;
         -o-transition: height .5s ease;
            transition: height .5s ease;
}
.recipe-item .owl-nav,
.featured-slider .owl-nav {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.recipe-item:hover .owl-nav,
.featured-slider:hover .owl-nav {
    display: block;
}
.recipe-item .owl-prev,
.featured-slider .owl-prev {
    margin-right: 5px;
}
.recipe-item .owl-next,
.featured-slider .owl-next {
    margin-left: 5px;
}
.recipe-item .owl-prev,
.recipe-item .owl-next,
.featured-slider .owl-prev,
.featured-slider .owl-next {
    display: inline-block;
    text-align: center;
    width: 2.618em; height: 2.618em;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        i:before {
            color: rgba(0, 0, 0, 0.8);
        }
    }
    i { vertical-align: -10px; }
    i:before {
        font-size: 27px;
        color: rgba(255, 255, 255, 0.8);
    }
}
.recipe-pagination.owl-carousel .owl-item {
    min-height: 0;
}
.slide-info {
    z-index: 9999;
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, .8);
    padding: 18px 23px 23px 25px;
}
.slide-info .rating {
    float: left;
    text-align: left;
    display: block;
}
.slide-info .rating span {
    display: inline-block;
    vertical-align: top;
    line-height: 25px;
    margin-left: 10px  ;
}
.slide-info .rating span span {
    margin: 0px  ;
    color: #009;
}
.slide-info .rating .on, .slide-info .rating .off {
    width: 17px;
    height: 17px;
    background: url(../images/rating_small.png) left top no-repeat;
    margin: 0px;
}
.slide-info .rating .off {
    background-position: right top;
}
.slide-info p {
    color: #bdbdbd;
}
.slide-info  a {
    color: #fff ;
}
.slide-info a:hover {
    color: #bf9764;
}

.related-recipe {
    .recipe-grid-item {
        width: 100%;
    }
}

.method-slider .owl-prev,
.method-slider .owl-next {
    position: absolute;
    display: none;
    width: 27px;
    height: 27px;
    font-size: 0px;
    background: url(../images/bg_direction_nav.png) 0px -1px no-repeat;
}
.method-slider:hover .owl-prev,
.method-slider:hover .owl-next {
    display: block;
}
.method-slider .owl-prev {
    background-position: left top;
    left: 15px; top: 45%;
}
.method-slider .owl-next {
    background-position: right top;
    right: 15px; top: 45%;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active, .flexslider a:active, .fxslider a:active, .flex-container a:focus, .flexslider a:focus, .fxslider a:focus {
    outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-direction-nav li {
    list-style: none!important;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.fxslider {
    margin: 0;
    padding: 0;
}
.fxslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.fxslider .slides img {
    display: block;
}
.slides {
    padding: 0px!important;
}
/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0 0 20px;
    position: relative;
}
.flex-viewport {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 400px;
    overflow: hidden;
}
.flexslider .slides {
    zoom: 1;
    padding: 0;
}
.fxslider {
    margin: 0 0 20px;
    position: relative;
}
.fxslider .slides {
    zoom: 1;
    padding: 0;
}
.carousel li {
    margin-right: 5px;
}
.flexslider-tmb {
    height: 120px;
    overflow: hidden;
}
.fxslider-tmb {
    height: 120px;
    overflow: hidden;
}
.flexslider-tmb li {
    opacity: 0.8;
    cursor: pointer;
}
.fxslider-tmb li {
    opacity: 0.8;
    cursor: pointer;
}
.flexslider-tmb li:hover {
    opacity: 1;
}
.fxslider-tmb li:hover {
    opacity: 1;
}
/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
@media screen and (max-width: 860px) {
}
/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/

.accordionButton {
    width: 99%;
    float: left;
    _float: none;
    /* Float works in all browsers but IE6 */
  padding: 5px 0px 5px 5px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid #ebebeb;
}
.accordionButton h4 {
    margin: 0!important;
}
.accordionButton i {
    margin-right: 10px;
}
.accordionContent {
    width: 100%;
    float: left;
    _float: none;
    /* Float works in all browsers but IE6 */

}
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.onacc {
    /*background: #990000;
    */
  border: 2px solid #bf9764;
}
.onacc h4 , .overacc h4 {
    color: #bf9764;
}
.overacc h4:after {
    content: "\f067";
    font-family: 'FontAwesome';
    float: right;
    margin-right: 20px;
    font-weight: 400px;
    color: #bf9764!important;
}
.accordionButton h4:after {
    content: "\f067";
    font-family: 'FontAwesome';
    float: right;
    margin-right: 20px;
    font-weight: 400px;
    color: #ebebeb;
}
.onacc h4:after {
    content: "\f068";
    font-family: 'FontAwesome';
    float: right;
    margin-right: 20px;
    font-weight: 400px;
    color: #bf9764;
}
.overacc {
    /*background: #CCCCCC;
    */
    border: 2px solid #bf9764;
}
.rw-plupload-ui {
    position: relative;
}
.rw-drag-drop {
    height: 150px;
    border: 2px dashed #ccc;
}
.rw-drag-drop .drag-drop-inside {
    margin-top: 40px;
    text-align: center;
}
.drag-drop-inside p {
    text-align: center !important;
}
.rw-plupload-ui .filelist {
    margin: 20px 0;
}
.rw-plupload-ui .filelist .file {
    position: relative;
    height: 25px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.rw-plupload-ui .filelist .filename {
    width: 100%;
    padding: 4px 0;
    z-index: 10;
    position: relative;
}
.rw-plupload-ui .filelist .fileprogress {
    background: #0d72c7;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.rw-plupload-thumbnail {
    float: left;
    margin: 0 10px 10px 0;
    min-width: 150px;
    min-height: 150px;
}
.rw-plupload-thumbnail p {
    position: relative;
    margin: -30px 0 0 0;
    text-align: center;
    display: none;
}
.rw-plupload-thumbnail:hover p {
    display: block;
}
.rw-plupload-thumbnail:hover {
    cursor: move;
}

.related-recipe {
    &.owl-theme .owl-dots {
        text-align: center;
    }

    &.owl-theme .owl-dots .owl-dot {
        display: inline-block;
    }

    &.owl-theme .owl-dots .owl-dot.active span,
    &.owl-theme .owl-dots .owl-dot:hover span {
        background: none repeat scroll 0% 0% #869791;
    }

    &.owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: none repeat scroll 0% 0% #D6D6D6;
        display: block;
        transition: opacity 200ms ease 0s;
        border-radius: 30px;
    }
}
/*======================================================================*/
/*Page Submit
/*======================================================================*/
.auth-des-page {
    width: 100%;
}
.left-auth {
    width: 100%;
    margin-bottom: 20px;
}
.photo-auth {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
@media (max-width: 685px) {
    /*===================================================================================*/
    /*single page resposive
    /*===================================================================================*/

    .title-single li, .recipe-info-single li {
        margin-left: 0px;
        border-right: none;
        padding: 0px  ;
        margin-right: 20px;
    }
    .recipe-info-single-big {
        text-align: center;
    }
    .recipe-info-single-big > li {
        margin-bottom: 20px;
    }
    .prep-time, .cook-time, .yield {
        border: none;
    }
    .info-right {
        width: 250px;
    }
    .content-left-first {
        width: 100%;
        height: auto;
    }
    .share-top {
        margin-bottom: 20px;
    }
    .menu-tab a {
        padding: 5px!important;
    }
    .nutritional {
        width: 240px!important;
    }
    .text-size {
        text-align: left;
        margin-bottom: 20px
    }
    .auth-img {
        margin-bottom: 20px;
        float: left;
        max-width: 70px;
        margin: 0px 0px 20px;
    }
    .auth-des {
        float: left;
        width: 70%;
        margin-left: 20px;
    }
    .rate-left {
        width: 300px;
    }
    .rate-img {
        width: 100px;
        margin-bottom: 20px;
    }
    .rate-right {
        width: 150px;
        text-align: left;
    }
@media only screen and (max-width: 800px) {
    /*======================================================================*/
    /*Page Submit
    /*======================================================================*/
    #recipe-form, #recipe-form .outer, #recipe-form .outer-form, #recipe-form .half, #recipe-form .third, {
        width: 100%
    }
    #recipe-form fieldset, #login-signup-forgot fieldset {
        padding: 20px 0px 0px 10px;
    }
    #recipe-form .outer-form, #login-signup-forgot .outer-form {
        padding-left: 0px;
    }
    #recipe-form textarea, #recipe-form  .input-title, #recipe-form .wys, #recipe-form .rwmb-clone input, #recipe-form .half input, #recipe-form .third input, #recipe-form .half select, #tags, #recipe-form .oneThird, #recipe-form .twoThird {
        width: 90%!important

    }
}
    /*======================================================================*/
    /*Page template list + grid*
    /*======================================================================*/

    .orderby select {
        width: 150px;
    }
    .orderby {
        float: none;
        display: block;
    }
    .flex-viewport {
        max-height: 100%;
        transition: all 1s ease 0s;
    }
    .title {
        float: none;
        width: 100%;
    }
    .recipe-info-list {
        margin-left: 0px;
        width: 100%;
    }
    .th-recipe-list {
        width: 100%;
        margin-bottom: 20px;
    }
    .th-recipe-list img {
        width: 100%;
    }

    .th-recipe-list {
        margin-bottom: 20px;
    }

}
@media (max-width: 480px) {
    .recipe-share .share-top, .text-size {
        float: none;
        margin-top: 20px;
    }
    .text-size { width: 100%; }
    .extra { float: none; }
    .extra li { margin-left: 0; margin-right: 20px; }
    .slide-info {
        top: auto;
        bottom: 0;
    }
    .slide-info p, .slide-info .rating {
        display: none;
    }
    /*======================================================================*/
    /*Page template list + grid*
    /*======================================================================*/
    .recipe-grid-item {
        width: 100%;
        float: none;
        margin: 20px auto;
    }
    .recipe-grid-item img {
        width: 100%;
    }
    .recipe-info-page {
        padding: 20% 0!important;
    }
    .th-recipe-list {
        width: 100%;
        margin-bottom: 20px;
    }
    .recipe-tags-list span {
        top: 0px;
        float: left;
    }
    .rating .value {
        border-left: none;
        padding-left: 0px;
    }
    .recipe-grid-item{
        padding: 0px;
    }
    .recipe-content{
        margin: 0px;
    }
}

@media (max-width: 320px) {
    /*======================================================================*/
    /*Page template list + grid*
    /*======================================================================*/
    .recipe-grid-item {
        width: 100%;
        float: none;
        margin: 20px auto 20px auto;
    }
    .slide-info {
        display: none;
    }
}