/* 7.1 Core Styles */
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* FlexSlider Necessary Styles */
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides li {
    position: relative;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    max-width: 100%;
    display: block;
    /*  -webkit-border-radius: 0.382em;
    border-radius: 0.382em;
    */
  -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* Clearfix for the .slides element */
.flexslider .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .flexslider .slides > li:first-child {
    display: block;
}
/* 7.2 Theme Styles */
.flexslider {
    margin: 0 0 3.15em;
    /*4.236em;
    */
  position: relative;
    /*  -webkit-border-radius: 0.382em;
    border-radius: 0.382em;
    */
  -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    zoom: 1;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 300px;
}
.flexslider .slides {
    zoom: 1;
}
.carousel li {
    margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    margin: -20px 0 0;
    display: block;
    position: absolute;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
}
.flex-direction-nav .flex-next {
}
.flex-direction-nav .flex-prev {
}
.flexslider:hover .flex-next {
    opacity: 0.8;
}
.flexslider:hover .flex-prev {
    opacity: 0.8;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
}
.fxslider:hover .flex-next {
    opacity: 0.8;
}
.fxslider:hover .flex-prev {
    opacity: 0.8;
}
.fxslider:hover .flex-next:hover, .fxslider:hover .flex-prev:hover {
    opacity: 1;
}

#featured-slider .flex-direction-nav a {
    width: 200px;
    position: absolute;
    top: 50%;
    width: 2.618em;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    text-indent: -999em;
    line-height: 2.618;
  -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-top: -1em;
    color: #fff;
}
.flex-direction-nav a {
    width: 200px;
    position: absolute;
    top: 20px;
    width: 2.618em;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    text-indent: -999em;
    line-height: 2.618;
  -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-top: -1em;
    color: #fff;
}
.flex-direction-nav a:before {
    font-family: 'FontAwesome';
    content: "\f053";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: 0;
    text-align: center;
}
.flex-direction-nav a:hover {
    background: #FFF;
    color: #000;
}
#featured-slider .flex-direction-nav .flex-prev {
    left: 20px
}
#featured-slider .flex-direction-nav  .flex-next {
    right: 20px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
}
.flex-direction-nav .flex-prev {
    right: 50px;
}
.flex-direction-nav .flex-next {
    right: 10px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
}
.flex-direction-nav .flex-next:before {
    content: "\f054";
}
/* Control Nav */
.flex-control-nav {
    width: 100%;
    text-align: center;
    padding-top: 1em;
}
.flex-control-nav li {
    margin: 0 .53em;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 1.387em;
    height: 1.387em;
    display: block;
    background: #d6d6d6;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #2ab6d6;
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
@media screen and (max-width: 767px) {
}
/* 7.3 Content Styles */
.flexslider .slide-content h1 {
    font-size: 28px;
    text-align: center;
}
.flexslider .slide-content {
    background-color: #ffffff;
    padding: 1.618em;
    -webkit-border-bottom-left-radius: 0.382em;
    -webkit-border-bottom-right-radius: 0.382em;
    border-bottom-left-radius: 0.382em;
    border-bottom-right-radius: 0.382em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.flexslider .slide-content .entry p:last-child {
    margin-bottom: 0;
}
.flexslider.full-width-slide .has-video .slide-media {
    float: none;
    width: 100%;
    height: auto;
}
.flexslider .slides .slide-media img {
    width: 100%;
    display: block;
}