
/* 8.7 Timeline Page Template */
#archives {
    padding: 24px 0 0;
}
#archives .archives_list {
    border-left: 1px solid #e5e5e5;
    list-style: none;
    margin: 24px 0 0 30px;
    padding: 0 0 20px;
}
#archives .archives_list:last-child:after {
    content: '';
    position: relative;
    top: 20px;
    left: -7px;
    display: block;
    width: 5px;
    height: 5px;
    border: 4px solid #e5e5e5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #bf9764;
}
#archives .archives_list li {
    clear: left;
    padding: 10px 0 10px 10px;
    font-size: 0.9em;
    font-style: normal;
    list-style: none;
}
#archives .archives_list .date {
    color: #534545;
    position: relative;
    width: 40%;
    font-style: italic;
    display: block;
    vertical-align: top;
}
#archives .archives_list .date:before {
    content: '';
    position: absolute;
    top: 9px;
    left: -10px;
    display: block;
    width: 5px;
    height: 1px;
    border-top: 2px solid #e5e5e5;
}
#archives .archives_list .linked {
    padding-top: 2px;
    padding-right: 80px;
    width: auto;
    display: inline-block;
    font-size: 1.4em;
    font-family: 'Georgia', sans-serif;
    vertical-align: top;
}
#archives .archives_list .comments {
    display: inline;
    margin-top: -15px;
    float: right;
    vertical-align: top;
}
#archives .archives_list .comments a:after {
    font-family: 'FontAwesome';
    content: "\f075";
    display: inline-block;
    right: 0;
    position: absolute;
}
#archives .archives_list .comments a {
    display: block;
    position: relative;
    width: 25px;
    height: 27px;
    padding: 3px 0 0 0;
    text-align: left;
    font-weight: bold;
    font-size: 11px;
}
#archives .archives_list .comments a:hover {
    text-decoration: none;
}
h3.archive_year {
    padding: 18px 10px;
    color: #fff;
    border: 2px solid #fff;
    outline: 2px solid #bf9764;
    background-color: #bf9764;
    display: inline;
    margin-top: 0;
}
.archive .image-cate {
    margin-bottom: 20px;
}
.archive .image-cate img {
    max-width: 100%;
}
.archive .recipe-title {
    margin-bottom: 20px;
}
.archive .image-descrip {
    margin-bottom: 20px;
}
.archive .image-cate img:hover {
    opacity: .8;
}
.archive .title {
    font: normal 400 24px/1.2em "Georgia", sans-serif;
    margin: 0 0 0.5em;
}