/* 3.4 Single Post Author */
#post-author {
    padding: 15px;
    margin: 0 0 1.5em;
    border: 1px solid #e6e6e6;
    background: #fafafa;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#post-author h4 {
    margin-bottom: 0.4em;
}
#post-author .profile-image img {
    max-width: 80px;
    float: left;
    overflow: hidden;
    margin: 0 15px 5px 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#post-author .profile-content {
    font-size: 13px;
    overflow: auto;
}
.author #post-author {
    margin-bottom: 30px;
}
.author .show-all-recipe-author button {
    display: block;
    margin-bottom: 20px;
    border: none;
    background: none;
    font: normal 16px/20px "Georgia", sans-serif;
    color: #545454
}
.author .show-all-recipe-author button:hover {
    color: #bf9764;
}
.author .show-all-psot-author button {
    display: block;
    margin-bottom: 20px;
    border: none;
    background: none;
    font: normal 16px/20px "Georgia", sans-serif;
    color: #545454
}
.author  .show-all-post-author button:hover {
    color: #bf9764;
}

/*single author*/
.cookname {
    margin-bottom: 20px;
}
.cookname #author-profile, .post-author-box {
    background: #fcfcfc;
    padding: 15px 0px;
    float: left;
    width: 100%;
}
.auth-img {
    margin-right: 3%;
    overflow: hidden;
    float: left;
    border: none;
    display: block;
    margin-left: 3%;
}
.auth-img img {
    border: none;
    padding: 0;
}
.auth-des {
    float: right;
    width: 80%;
    display: block;
}
.auth-des h4 {
    margin-bottom: 0.4em;
}
.auth {
    margin: 10px 0px 0px 0px;
    text-align: left;
    float: none;
}
.auth a {
    display: inline-block;
    font-size: 16px ;
    color: #e3e3e3;
    margin-right: 5px;
}
.auth a:hover {
    color: #bf9764;
}
/*page author*/

.auth-page {
    margin-bottom: 20px;
}
.left-auth {
    width: 20%;
    margin-right: 3%;
    display: block;
    float: left;
}
.photo-auth {
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
}
.auth-des-page {
    width: 77%;
    height: auto;
    display: block;
    float: left;
}

.archive.author {
    .entry {
        float: none;
        width: 100%;
    }
    .post-more {
        padding: 2em 0 0;
    }
}