.breadcrumbs {
    font-style: italic;
    color: #bf9764;
}
.archive_header {
    display: block;
    float: left;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    margin: 0 0 30px;
    padding: 0 0 10px;
    color: #222;
}
.archive_header {
    font-weight: bold;
    font-size: 1.5em;
}
.archive_header h1 {
    font-size: 1em;
}
.archive_header .catrss a {
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    line-height: 21px;
}
.post {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
.page-template-template-blog-elegant-php .post, .single-post .post, .single-recipe .post, .archive-elegant-post .post {
    padding: 0;
    border: none;
}
.post, .search .page {
    margin: 0 0 40px;
}
.page-template-404-php .title-404, .error404 .title-404 {
    text-align: center;
}
.post .title, .page > .title {
    margin: 0 0 0.5em;
}
.post .title a:link, .post .title a:visited, .page .title a:link, .page .title a:visited {
    color: #545454;
}
.post .title:hover a {
    color: #bf9764;
}
.post-meta {
    margin: 0 0 1.8em 0;
    color: #b9b9b9;
    text-transform: capitalize;
    font: 300 11px/21px "Open Sans", Helvetica, Arial, sans-serif;
}
.post-meta .small {
    font-weight: bold;
}
.post-meta .author {
    text-transform: capitalize;
}
.post-meta abbr {
    border-bottom: none;
}
.post-more {
    clear: both;
    padding: 0.2em 0;
    font: italic 13px 'Georgia', sans-serif;
    color: #bf9764;
}
.post-more a {
    color: #bf9764;
}
.post-more .sep {
    padding: 0 0.5em;
}
.post-meta .post-edit-link {
    background: #F0F0F0;
    border-radius: 3px;
    float: right;
    font-weight: 300;
    padding: 2px 5px;
    margin-top: -2px;
}
.post p.tags {
    color: #B9B9B9;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.post-meta a:link, .post-meta a:visited, .post p.tags a:link, .post p.tags a:visited {
    font-weight: normal;
    color: #545454;
}
.post-more a:hover, .post-meta a:hover, .post p.tags a:hover {
    text-decoration: underline;
    color: #bf9764;
}
.post .post-embed {
    margin-bottom: 20px;
}
.entry .page-link {
    font-weight: bold;
    margin: 0 0 2em;
}
.elegant-post-meta, .archive-elegant-post .elegant-post-meta {
    display: none;
}
.page-template-template-blog-elegant-php .entry, .archive-elegant-post .entry {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
}
/* 3.1 Typographic Elements */
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
    margin: 0 0 0.5em;
    line-height: 1.067em;
}
.page-template-404-php .entry, .error404 .entry {
    font: 300 18px/24px "Open Sans", Helvetica, sans-serif;
    text-align: center;
}
.entry p {
    line-height: 2;
    margin-bottom: 1.067em;
}
.entry blockquote {
    position: relative;
    padding: 10px 20px 10px 50px;
    color: #444;
}
.entry blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0.5em;
    left: 0;
    font-size: 7em;
    color: #b9b9b9;
    font-family: Georgia, serif;
}
.entry blockquote p {
    font-style: italic;
}
.entry ul {
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
}
.entry ul ul {
    margin: 0;
}
.entry ul li {
    list-style-type: disc;
}
.entry ul ul li {
    list-style-type: circle;
}
.entry ol {
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
}
.entry ol ol {
    margin: 0;
}
.entry ol li {
    list-style-type: decimal;
}
.entry ol li ol li {
    list-style-type: lower-latin;
}
/* 3.2 Images */
// .post img{
//     width: 100%;
// }

img.wp-smiley {
    padding: 0;
    border: none;
}
.alignleft {
    float: left;
    margin: 5px 15px 15px 0;
}
.alignright {
    float: right;
    margin: 5px 0 15px 15px;
}
.aligncenter {
    text-align: center;
    margin-bottom: 15px;
}
img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.entry .wp-caption {
    max-width: 100%;
    width: 100%;
    padding: 1px;
    text-align: center;
    background: #F8F8F8;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 0 1px 1px #fff;
    -moz-box-shadow: inset 0 0 1px 1px #fff;
    -webkit-box-shadow: inset 0 0 1px 1px #fff;
}
.entry .wp-caption img {
    margin: 0!important;
    padding: 4px 0;
    background: none;
    border: 0;
}
.entry .wp-caption-text {
    margin: 0 0 0.3em;
    padding: 0;
    font: bold 300 12px/1.5em "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
.entry .wp-caption a {
    margin: 0!important;
}
.entry .wp-caption.aligncenter {
    margin: 0 auto 15px;
}
/* 3.3 Pagination */
.nav-entries {
    clear: both;
    font-size: 11px;
}
.post-entries {
    clear: both;
    margin-top: -20px;
}
.post-entries a:link, .post-entries a:visited {
    font-size: 0.9em;
    color: #888;
}
.post-entries a:hover {
    text-decoration: none;
    color: #666;
}
.woo-pagination {
    margin: 0;
    text-align: center;
    clear: both;
    display: block;
}
.woo-pagination a:link, .woo-pagination a:visited, .nav-entries a span {
    display: inline;
    text-decoration: none;
    color: #bf9764;
    padding: 6px 10px;
    border: 1px solid #DDDDDD;
}
.nav-entries a {
    font-size: 1.2em;
}
.nav-entries .meta-nav {
    border: none;
}
.woo-pagination span.extend, .woo-pagination .page-numbers {
    border: none;
    color: #666;
}
.woo-pagination a:link, .woo-pagination a:visited, .woo-pagination a:active, .nav-entries a span {
    font-size: 0.9em;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}
.woo-pagination span.current {
    border: none;

  color: #fff;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.9em;
}
.woo-pagination a:link, .woo-pagination a:visited, .woo-pagination a:active {
    border: none;
    background: #fff;
}
.woo-pagination .current, .woo-pagination a:hover {
    padding: 6px 10px;
    background: #bf9764;
    color: #fff;
}

.single .wp-post-image{
    margin-bottom: 10px;
}
@media only screen and (min-width: 800px) {
    /* Elegant Post */
    .page-template-template-blog-elegant-php .elegant-post-meta, .archive-elegant-post .elegant-post-meta {
        display: block;
        float: left;
        width: 9.9%;
    }
    .page-template-template-blog-elegant-php .meta .meta-divider, .archive-elegant-post .meta .meta-divider {
        height: 100px;
        border-right: 2px solid #bf9764;
        width: 50%;
    }
    .page-template-template-blog-elegant-php .meta .day, .page-template-template-blog-elegant-php .meta .month, .page-template-template-blog-elegant-php .meta .year, .archive-elegant-post .meta .day, .archive-elegant-post .meta .month, .archive-elegant-post .meta .year {
        display: block;
        text-align: center;
        background: #fff;
    }
    .page-template-template-blog-elegant-php .meta .month, .archive-elegant-post .meta .month {
        text-transform: uppercase;
        font-weight: normal;
        color: #b9b9b9;
        font-size: .857em;
        padding: .202em 0 ;
        margin-bottom: .71em;
    }
    .page-template-template-blog-elegant-php .meta .day, .archive-elegant-post .meta .day {
        font-size: 2.8em;
        padding-bottom: .25em;
        font-weight: normal;
        color: #bf9764;
        font-family: 'Georgia';
    }
    .page-template-template-blog-elegant-php .post-meta  ul li, .archive-elegant-post .post-meta  ul li {
        list-style-type: none;
        clear: both;
    }
    .page-template-template-blog-elegant-php .entry, .archive-elegant-post .entry {
        float: right;
        width: 86.9%;
    }
}

@media only screen and (max-width: 800px) {
    .archive_header .catrss{
        float: left;
        margin-top: 5px;

        a {
            padding: 0px;
        }
    }
}