/* 2.6 Footer */
#footer-wrap {
    padding: 0 1.618em;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
}
#footer-wrap-bottom {
    margin: 0 -1.618em;
    padding: 0 1.618em ;
    background: #262626;
}
#footer {
    padding: 1.067em 0 ;
    color: #7A7A7A;
}
#footer #credit img {
    vertical-align: middle;
}
#footer #credit span {
    display: none;
}
/* RESET <A> STYLING FOR RECENT COMMENT & TWITTER */
#footer-widgets {
    padding: 42px 0;
    clear: both;
}
#footer-widgets h3 {
    font: 400 12px/18px "Georgia", sans-serif;
    color: #333333;
    text-transform: uppercase;
}
#footer-widgets ul {
    list-style: none;
    font-size: 12px;
}
#footer-widgets .widget_categories li, #footer-widgets .widget_recent_entries li, #footer-widgets .widget_archive li, #footer-widgets .widget_meta li, #footer-widgets .widget_recent_comments li {
    padding: 0 0 6px 24px;
    margin-bottom: 6px;
    line-height: 17px;
    border-bottom: 1px dotted #ABABAB
}
@media only screen and (max-width: 959px) {
    #footer-wrap {
        padding: 0;
    } 
}