/* 2.2 Navigation */
#navigation {
    width: 100%;
    left: 0;
    clear: both;
    /* margin-bottom: 3em; */
    display: none;
    font: 400 14px/14px 'Georgia', serif;
    border-bottom: 1px solid #ebebeb;
    background: #ffffff;
}
ul.nav {
    width: 100%;
    list-style-type: none;
}
ul.nav li {
    list-style-type: none;
}
ul.nav li a {
    text-transform: uppercase;
    padding: .5em 1em;
    display: block;
    color: #6a6a6a;
}
ul.nav li a:hover {
    color: #bf9764;
}
ul.nav li.current_page_item > a, ul.nav li.current_page_parent > a, ul.nav li.current-menu-ancestor > a, ul.nav li.current-cat > a, ul.nav li.current-menu-item > a {
    color: #bf9764;
}
ul.nav li ul li a {
    background: none !important;
    /* color: #666!important; */
}
ul.nav ul li.current_page_item > a, ul.nav ul li.current_page_parent > a, ul.nav ul li.current-menu-ancestor > a, ul.nav ul li.current-cat > a, ul.nav ul li.current-menu-item > a {
    color: #6a6a6a!important;
}

#top select {
    margin: 1.618em 0 0;
    width: 100%;
}
#top {
    border-top: 2px solid #bf9764;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ebebeb;
}
#top #top-nav, #top div.social-top, #top div.callus {
    display: none;
}
#top div.social-top {
    float: left;
    padding: 4px 10px 4px 0;
    border-right: 1px solid #e1e1e1;
}
#top div.social-top a {
    margin-right: 4px;
    color: #b9b9b9;
}
#top div.social-top a:hover {
    color: #bf9764;
}
/* Top - Callus Text */
#top div.callus {
    float: left;
    height: 24px;
    padding: 4px 10px 0 ;
    border-right: 1px solid #e1e1e1;
    color: #b9b9b9;
}

.df-ajax-search{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 8px;
    color: #fff;
    background: #bf9764;
    cursor: pointer;
}

// =================================================
// ajax search style begin
// =================================================
.universe-search:after {
    clear: both;
}
.universe-search .universe-search-close.ico-iphone:after,
.universe-search .universe-search-close:before {
    font-family: 'FontAwesome';
    content: "\f00d";
    font-size: 20px;
}
.js .universe-search {
    display: none;
}
.universe-search {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    z-index: 999999;
    border-top: 1px solid #ddd;
    zoom: 1;
    background: rgba(255,255,255,.98);
    -webkit-box-shadow: 0 9px 50px rgba(129, 129, 129, 0.29);
    -moz-box-shadow: 0 9px 50px rgba(129, 129, 129, 0.29);
    -ms-box-shadow: 0 9px 50px rgba(129, 129, 129, 0.29);
    -o-box-shadow: 0 9px 50px rgba(129, 129, 129, 0.29);
    box-shadow: 0 9px 50px rgba(129, 129, 129, 0.29);
}

.universe-search .universe-search-close {
    position: absolute;
    top: 34px;
    right: 40px;
    cursor: pointer;
    z-index: 10000;
    font-size: 14px;
    padding: 0 4px;
}
.universe-search .universe-search-close:hover {
    opacity: .8;
}
.universe-search .universe-search-form {
    margin-top: 10%;
    padding-bottom: 15px;
    display: table;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
    transform:translateY(50px);
    -webkit-transform:translateY(50px);
    -moz-:translateY(50px);
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.universe-search .universe-search-form .universe-search-input {
    padding: 0;
    position: relative;
    height: auto;
    background: rgba(255,255,255,.1);
    z-index: 10;
    font-size: 2.375em;
    border: none;
    vertical-align: middle;
    outline: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.875;
}
.universe-search .universe-search-form .universe-search-input:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    // color: #0f0f0f;
}
.universe-search .universe-search-form input{
    display: table-cell;
}
.universe-search .universe-search-form .select-wrapper{
    display: table-cell;
    vertical-align: middle;
    width: 15%;
}
.universe-search .universe-search-results {
    clear: both;
    padding: 30px 0;
    position: relative;
}
.universe-search #result-not-found {
    padding-bottom: 28px;
}
.universe-search .ajax-search-result {
    display: table;
}
.universe-search .df-search-image {
    line-height: 0;
    border: none;
    padding: 0;
    margin: 0 20px 0 0;
    width: 80px;
    display: table-cell;
    float: left;
}
.universe-search .df-search-content {
    display: table-cell;
    vertical-align: top;
}
.universe-search .df-search-content p {
    margin: 0;
}
.universe-search .df-search-content h3 {
    margin: 0 0 10px;
}
.universe-search .ajax-search-result {
    margin-bottom: 30px;
    float: left;
}
.search-container-close {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
}
.universe-search.ajax-search-active .universe-search-form {
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
}
.universe-search .search-post-on .byline,
.universe-search .df-category-content-post{
    border: none;
}
.universe-search .posted-on {
    margin-right: 5px;
}
.universe-search .byline {
    margin-left: 0;
}
@media only screen and (max-width: 959px) {
    .universe-search .df_container-fluid{
        padding: 0px 20px;
    }
    .ajax-search-select-text,
    .ajax-search-select-text .ajax-search-show,
    .ajax-search-select-text .ajax-search-select,
    .ajax-search-select-text .ajax-search-select .container-select-box,
    .ajax-search-select-text .ajax-search-select .container-select-box select{
        width: 100%;
        display: block;
        vertical-align: top;
        text-align: center;
        margin: 0px;
        margin-bottom: 11px;
    }
    .ajax-search-select-text .ajax-search-show{
        margin-bottom: 22px;
    }
    .universe-search .df-search-image{
        float: left;
    }
    .ajax-search-select-text{
        margin-top: 11px;
        display: none;
    }
    .universe-search .mobile-ajax-category {
        display: block;
        margin-top: 11px;
        text-align: center;
        position: relative;
    }
    .universe-search .universe-search-close{
        right: 28px;
    }
}
@media only screen and (max-width:480px) {
    .universe-search .universe-search-close{
        right: 0px;
        top: 10px;
    }
    .universe-search .universe-search-form{
        margin-top: 17%;
    }
    .universe-search .universe-search-form .universe-search-input{
        font-size: 1.2em;
    }
}

// =================================================
// ajax search style end
// =================================================
#mobile-header {
    border-bottom: 1px solid #e1e1e1;
}
#mobile-header ul {
    clear: both;
    margin: 0;
}
#mobile-header li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    border-left: 1px solid #e1e1e1;
    padding: 10px 0;
    font-size: 16px;
    color: #969696;
}
#mobile-header li a {
    color: #969696;
}
#mobile-header li:first-child {
    border: 0;
}
#mobile-header li.col-1, #mobile-header li.col-3, #mobile-header li.col-4{
    width: 32%
}
#mobile-header li.col-1 a {
    color: #bf9764;
}
#mobile-header #mobile-top-nav, #mobile-header #top-nav {
    display: none;
}
/* Go To Button */
.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    padding: .75em 1em;
    display: none;
}
a.go-top {
    color: #fff;
}
.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
/* 2.3 Header */
#header {
    padding: 20px 0 40px;
    clear: both;
    position: relative;
    background-size: cover;
}
#logo {
    text-align: center;
}
#logo .logo-retina {
    display: none;
}
#logo .site-title {
    line-height: inherit;
    margin-bottom: 7px;
    font-weight: bold;
}
#logo .site-title, #logo .site-description {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #545454;
    display: block;
}
#logo .site-title a {
    color: #222;
    font-size: 36px;
    line-height: 1.067em;
    text-transform: none;
    text-decoration: none;
}
#logo .site-title a:hover {
    text-decoration: underline;
}
#logo .site-description {
    color: #b9b9b9;
    font-weight: 300;
}
#topad {
    max-width: 468px;
    margin: 20px auto 0;
}


.logo-mobile {
    display: none
}
@media only screen and (max-width: 768px) {

    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: block;
    }
    .breadcrumb-trail {
        text-align: center;
    }
    .slide-info {
        top: auto;
        bottom: 0;
    }
}
@media only screen and (min-width: 769px) {

ul.nav ul li.current_page_item > a, ul.nav ul li.current_page_parent > a, ul.nav ul li.current-menu-ancestor > a, ul.nav ul li.current-cat > a, ul.nav ul li.current-menu-item > a {
    color: #bf9764!important;
}
}

.mega-icon img{display: none;}
@media only screen and (min-width: 769px) {
/*mega global*/
#main-nav .df-mega-menu {
position: static;
}
#main-nav .menu-subtitle {
    display: block;
    font-size: .8em;
    text-transform: none;
}
body #main-nav .df-mega-menu a:after {
    position: relative;
    /*right: -5px!important;
    */
}
#main-nav .df-mega-menu .new-row {
    clear: left;
}
#main-nav .df-mega-menu > .sub-nav > li a:after {
    display: none
}
#main-nav .df-mega-menu .df-mega-parent .sub-nav {
    display: block!important;
    position: relative;
    left: 0px;
    box-shadow: none;
    float: none;
    width: 100%;
    border: none;
}
#main-nav .df-mega-menu a {
    min-width: inherit;
}
#main-nav .df-mega-menu .df-mega-parent .menu-item {
    width: 100%
}
#main-nav .df-mega-menu .sub-nav > li {
    display: block;
    float: left;
}
#main-nav .df-mega-menu:hover .sub-nav {
    visibility: visible;
}
/*mega menu column*/
    .df-mega-menu li.df_span-sm-12 {
    width: 100%;
}
.df-mega-menu li.df_span-sm-6 {
    width: 50%;
}
.df-mega-menu li.df_span-sm-4 {
    width: 33.3333%;
}
.df-mega-menu li.df_span-sm-3 {
    width: 25%;
}
.df-mega-menu li.df_span-col5 {
    width: 20%;
}
/*mega menu full width*/
    #main-nav .mega-full-width > .sub-nav {
    width: 100%;
    left: 0px !important;
}
#main-nav .mega-full-width .df-mega-parent {
    left: 0px;
}
/*mega menu auto width*/
    #main-nav .mega-auto-width.mega-column-2 > .sub-nav {
    width: 40%;
    left: auto;
}
#main-nav .mega-auto-width.mega-column-3 > .sub-nav {
    width: 60%;
    left: auto;
}
#main-nav .mega-auto-width.mega-column-4 > .sub-nav {
    width: 80%;
    left: auto;
}
#main-nav .mega-auto-width.mega-column-5 > .sub-nav {
    width: 100%;
    left: 0px;
}
/*mega menu left and right*/
    .has-mega-menu .df-navibar.df-navibar-left .df-navi, .has-mega-menu .df-navibar.df-navibar-right .df-navi {
    position: static;
}
/*mega menu misc*/
    #main-nav .df-mega-menu > a > .mega-icon img {
    display: none;
}
#main-nav .df-mega-menu-img > ul {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;
}
#main-nav .hide-mega-title > a span:not(.mega-icon) {
    display: none;
}
#main-nav .mega-text-align-center .sub-nav a {
    text-align: center;
}
#main-nav .mega-text-align-right .sub-nav a {
    text-align: right;
}
#main-nav .mega-text-align-left .sub-nav a {
    text-align: left;
}
#main-nav i.fa {
    padding-right: 5px;
}
#main-nav .df-mega-menu > .sub-nav > li.has-children:not(.new-column) > a {
    font-weight: 700;
}
#navigation ul.nav > li {
    float: none!important;
    display: inline-block;
}
#navigation ul.nav {
    text-align: center;
}
#navigation .nav > li.has-children > a:after {
    font-family: "FontAwesome";
    content: "\f107";
    display: block;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    top: 34%;
    right: .8751em;
}
#navigation ul.nav ul {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    background: #ffffff;
    border: 1px solid #ebebeb;
    left: -1px;
    box-shadow: .202em .202em 0 0 rgba(232, 228, 227, 0.15);
    -webkit-box-shadow: .202em .202em 0 0 rgba(232, 228, 227, 0.15);
    -webkit-box-shadow: .202em .202em 0 0 rgba(232, 228, 227, 0.15);
}
#navigation {
    display: block !important;
}
#navigation .sub-nav {
    min-width: 220px;
}
.nav > li:first-child{
    border-left: 1px solid #dbdbdb;
}
}/*width 800px;*/

#navigation ul ul li:first-child, #navigation ul ul li:first-child a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#navigation ul.nav > li a:hover {
    background: #ffffff;
}
#navigation .sub-menu, #navigation .children {
    text-align: left;
}
#navigation ul.nav > li:hover {
    background: #ffffff;
}

#navigation ul.nav ul ul {
    top: -1px;
    left: 100%;
}
#top .nav li.parent > a {
    position: relative;
    padding-right: 2em;
}
#top .nav li.parent > a:after {
    content: "";
    display: block;
    border: .3em solid #ccc;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    top: 48%;
    right: .8751em;
}
#navigation .nav li ul li.parent a {
    padding-right: 0;
}
#navigation .nav li ul li.parent a:after {
    border-color: transparent transparent transparent #ccc;
    right: 0;
    top: 46%;
}
#navigation .nav > li.has-children > a {
    position: relative;
    padding-right: 2em;
}

#navigation .nav li ul > li.has-children a {
    padding-right: 0;
    box-shadow: none;
}
#navigation .nav li ul > li.has-children > a:after {
    font-family: "FontAwesome";
    content: "\f105";
    right: 20px;
    top: 34%;
    position: absolute;
}
#header .nav-toggle {
    display: none;
}
#top {
    background-color: #fff;
}
#top div.callus, #top div.social-top {
    display: block;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #mobile-header {
      display: block;
  }
}
.df-page-header.title-center .df-header {
    display: block;
    text-align: center;
}
.df-page-header {
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    background: #efefef;
}
.df-fancy-header {
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
}
.df-fancy-header-2 {
    border-left: 0;
    border-right: 0;
}
.df-header-container {
    display: table;
    width: 100%}
.df-header {
    padding: 22px 0;
    display: table-cell;
    vertical-align: middle;
}
.df-fancy-header .df-header, .df-fancy-header-2 .df-header {
    width: 50%;
    vertical-align: middle;
}
#df-fancy-header.title-center .df-header-wrap {
    display: table;
}
#df-fancy-header.title-center .df-header-container {
    display: table-cell;
    vertical-align: middle;
}
.df-fancy-header.title-center .df-header-container, .df-fancy-header.title-center .df-header, .df-fancy-header-2.title-center .df-header-container, .df-fancy-header-2.title-center .df-header {
    display: block;
    width: 100%;
    text-align: center;
}
.title-left .df-header {
    text-align: left;
}
.title-right .df-header {
    text-align: right;
}
.df-header h1, .fancy-subtitle {
    margin: 0;
}
.title-left .breadcrumbs {
    text-align: right;
}
.title-right .breadcrumbs {
    text-align: left;
}
.df-fancy-header-parallax {
    background-attachment: fixed;
    background-repeat: no-repeat!important;
    background-size: cover;
}
.mobile-true .df-fancy-header-parallax {
    background-attachment: scroll;
    background-position: center top!important;
    background-repeat: no-repeat!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.df-fancy-header-video, .df-fancy-header-video .df-header {
    position: relative;
    z-index: 1;
}
@media only screen and (max-width: 768px) {
    #df-fancy-header .df-header-wrap {
        display: table;
        width: auto;
    }
    #df-fancy-header .df-header-container {
        display: table-cell;
        vertical-align: middle;
    }
    .df-fancy-header .df-header-container, .df-fancy-header .df-header, .df-fancy-header-2 .df-header-container, .df-fancy-header-2 .df-header, .df-page-header .df-header-container, .df-page-header .df-header, .df-page-header .breadcrumb {
        display: block;
        width: 100%;
        text-align: center;
    }
    #df-normal-header, #df-fancy-header, #df-slider-header {
        margin: 40px -1.618em 0;
        padding: 0 1.618em;
    }
    #navigation .nav > li.has-children > a:after {
        display: none;
    }
}
@media only screen and (min-width: 769px) {
    html.boxed body {
        width: 958px;
        margin: 0 auto;
    }
    #wrapper {
        padding: 20px 0 0;
        margin: 0 -1.618em;
        overflow: hidden;
    }
/* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
    ul.nav {
        position: relative;
        margin-bottom: 0;
        width: auto;
        /*margin-right: 30px;
        */
    }
    ul.nav li {
        position: relative;
        float: left;
        zoom: 1;
        list-style: none;
    }
    ul.nav li a {
        display: block;
        padding-top: 1em!important;
        padding-bottom: 1em!important;
    }
    ul.nav li a:hover {
        text-decoration: none;
    }
    ul.nav li ul li a:hover {
        text-decoration: underline;
    }
    ul.nav ul {
        width: 130%;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9999;
        margin: 0;
        padding: 0.4em 0;
    }
    ul.nav ul li {
        float: none;
    }
    ul.nav ul li a {
        width: 100%;
        display: inline-block;
        padding: 0.7em 1em!important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 0.9em;
    }
    ul.nav ul ul {
        left: 100%;
        top: 0;
    }
    ul.nav li:hover > ul {
        visibility: visible;
    }

  /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
    #top {
        margin: 0 -1.618em;
        padding: 0 1.618em;
    }
    #top #top-nav {
        display: block!important;
    }
    #top ul.nav ul {
        width: 125%;
    }
    #top ul.nav li a {
        color: #b9b9b9;
        padding-top: 0.25em!important;
        padding-bottom: 0.35em!important;
        border-right: 1px solid #e1e1e1;
    }
    #top ul.nav > li a:hover {
        background: rgba(255, 255, 255, 1);
        color: #bf9764;
    }
    #top ul.nav > li:hover {
        background: rgba(255, 255, 255, 1);
        color: #ffffff;
    }
    #top ul.nav ul {
        background: #ddd;
    }
    #top ul.nav ul li a {
        color: #545454!important;
    }
    #top ul.nav li.current_page_item a, #top ul.nav li.current_page_parent a, #top ul.nav li.current-menu-ancestor a, #top ul.nav li.current-cat a, #top ul.nav li.current-menu-item a {
        color: #bf9764;
    }
 }
@media only screen and (max-width: 768px) {
    #main {
        margin-top: 40px;
    }
    #navigation {
        border-bottom: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        width: 99.6%;
        font: 400 14px/1.5em'Georgia', sans-serif;
    }
    #navigation li {
        position: relative;
    }
    #navigation ul.nav > li {
        border-right: none!important;
    }
    #navigation ul.nav > li > a{
        border-bottom: 1px solid #dbdbdb;
    }
    #navigation span.btnshow_nav {
        padding: 10px 15px;
        border-left: 1px solid #dbdbdb;
        display: block;
        position: absolute;
        float: right;
        right: 0px;
        top: 0px;
    }
    #navigation span.btnshow_nav:before {
        content: '\f107';
        font-family: 'FontAwesome';
        font-size: 14px;
        font-weight: 200;
    }
    #navigation .onacc_nav {
        border-right: 1px solid #dbdbdb;
        border-left: none!important;
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Safari and Chrome */
    }
    #header {
        padding: 20px 0 0px;
    }

    .fa-reorder:before {
        font-size: 14px;
        margin-left: -20px;
    }
    ul.nav {
        margin-bottom: 0px;
    }
    ul.nav li {
        border-bottom: 1px solid #dbdbdb;
    }
    ul.nav li:last-child {
        border-bottom: none;
    }
    ul.nav li.menu-item-has-children {
        /*border-bottom: none;
        */
    }
    ul.nav li.menu-item-has-children .sub-menu {
        border-top: 1px solid #dbdbdb;
    }
    ul.nav li a {
        padding: 10px 20px 10px;
    }
    ul.nav ul.sub-menu {
        margin-left: 0px;
    }
    ul.nav ul.sub-menu a {
        margin-left: 20px;
    }
    ul.nav ul.sub-menu ul.sub-menu a {
        margin-left: 40px;
    }
    #header .nav-toggle {
        text-align: center;
        display: block;
        margin: 2.5em 0 0;
        padding: 0.4em 1em;
        font-size: 1em;
        border: 1px solid #dbdbdb;
        background: #fff;
        border-radius: 2px;
        clear: both;
    }
    #header .nav-toggle.fa-reorder {
        color: #dbdbdb;
    }
    #header .nav-toggle a {
        color: #222;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        margin-left: 5px;
    }
    #header .nav-toggle.fa-reorder:hover, #header .nav-toggle a:hover {
        color: #bf9764;
        text-decoration: none;
    }
    #header .nav-toggle {
        padding: 10px 0px 10px;
    }
    #header .nav-toggle a {
        margin-left: 10px;
    }
    #header .nav-toggle a {
        line-height: 1.5em;
    }
    #header .nav-toggle.fa-reorder:hover a {
        color: #BF9764;
    }
    #main-nav .has-children a:after{
        display: none;
    }
    #main-nav .sub-nav .sub-nav li:first-child{
        border-top: 1px solid #dbdbdb;
    }
}

