#products-carousel {
    position: relative;
}
#products-carousel ul.products {
    float: left;
    padding: 0;
}
#products-carousel ul.products li.product {
    margin: 20px 10px 10px;
    clear: none;
    display: block;
}
#products-carousel ul.products li.product:nth-child(2n) {
    float: left;
    clear: none;
}
#products-carousel a.prev, #products-carousel a.next {
    background: url(../images/carousel_button.png) no-repeat ;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 999999;
}
#products-carousel a.prev:hover, #products-carousel a.next:hover {
    background: url(../images/carousel_button_hover.png) no-repeat;
}
#products-carousel a.prev {
    background-position: 100% 0;
}
#products-carousel a.prev:hover {
    background-position: 100% 0;
}
#products-carousel a.next {
    right: 0;
    background-position: 0 100%;
}
#products-carousel a.next:hover {
    background-position: 0 100%;
}
#products-carousel a.prev span, #products-carousel a.next span {
    display: none;
}
#products-carousel .clearfix {
    float: none;
    clear: both;
}
/* General Style */
.highlight {
    color: #FFF;
    font-family: 'Open Sans';
    font-weight: 800;
}
/* Blog List & Blog Item*/
.latest-blog img{
    width: 100%
}

.widget h3.blog-title-sc {
    border: 0;
    font: 400 12px/18px "Georgia", sans-serif;
    color: #333;
    text-transform: uppercase;
}
.widget .latest-blog-list {
    overflow: visible;
    margin-bottom: 1.3em;
    border-bottom: 1px dotted #ababab;
    padding-bottom: 1.46em;
}
.widget .latest-blog-list h4.title {
    font: normal 400 14px/14px  "Georgia", sans-serif;
}
.widget .latest-blog-list h4.title a {
    color: #969696;
}
.widget .post-meta .small {
    font-weight: 400;
    color: #545454;
}
.widget .latest-blog-list .post-meta .vertical-bar, .widget .latest-blog-list .post-meta .fa-comment, .widget .latest-blog-list .post-meta .post-comments {
    display: none;
}
.widget .latest-blog-list .blog-list-image {
    width: 50px;
    margin-top: -6px;
    margin-bottom: .4em;
}
h3.blog-title-sc {
    padding-bottom: .5335em;
    border-bottom: 1px solid #e1e1e1;
}
.latest-blog-list h4.title, .blog-item h4.title {
    font: normal 400 18px/1.45em "Georgia", sans-serif;
    margin-bottom: .25em;
}
.latest-blog-list h4.title:hover a, .blog-item h4.title:hover a {
    color: #bf9764;
}
.latest-blog-list .post-meta {
    margin-bottom: .5em;
}
.latest-blog-list .blog-list-image {
    float: left;
    margin-right: 1.067em;
    margin-bottom: .5em;
}
.latest-blog-list {
    clear: left;
    overflow: hidden;
    margin-bottom: .5em;
    border-bottom: 1px dashed #e1e1e1;
}
.blog-item {
    width: 100%;
    float: left;
    display: inline;
    margin-bottom: 20px;
}
.blog-item .blog-img img {
    margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
    .blog-item.first {
        clear: left;
    }
    .blog-item:nth-child(2n) {
        float: left;
    }
    .one-col .latest-blog {
        margin-left: -1.3%;
        margin-right: -1.3%;
    }
    .one-col .blog-item {
        width: 30.66%;
        padding-left: 1.3%;
        padding-right: 1.3%;
    }
    .two-col-left .blog-item, .two-col-right .blog-item, .three-col-left .blog-item, .three-col-middle .blog-item, .three-col-right .blog-item {
        width: 47%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}
/*Linked More*/

/* Teaser */
.teaser {
    border: 1px solid #e1e1e1;
    display: block;
    padding: 21px 21px 20px 21px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
    -moz-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.2);
}
.teaser .teaser-img {
    margin: -21px -21px 20px -21px;
    overflow: hidden;
}
.teaser .teaser-img img {
    border: none;
}
/* Teaser Box*/
.teaserbox {
    display: block;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: url(../images/shortcode/pattern.png) repeat top left;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(180, 180, 180, 0.2);
    -moz-box-shadow: 1px 1px 3px 0px rgba(180, 180, 180, 0.2);
    box-shadow: 1px 1px 3px 0px rgba(180, 180, 180, 0.2);
    margin: 0 0px 0 0px;
    padding: 10px;
}
.teaserbox .inner {
    border: 1px solid #e1e1e1;
    padding: 25px 25px 25px 25px;
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);
    box-shadow: inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);
    color: #fff;
}
.teaserbox a.button {
    margin: 20px 0 0 0;
}
/* Callout */
.callout {
    margin: 0 0px 0 0px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    display: block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: url(../images/shortcode/pattern.png) repeat top left !important;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(180, 180, 180, 0.2);
    -moz-box-shadow: 1px 1px 3px 0px rgba(180, 180, 180, 0.2);
    box-shadow: 1px 1px 3px 0px rgba(180, 180, 180, 0.2);
}
.callout .inner {
    padding: 10px 20px 0px 20px;
}
.callout .callout-content {
    float: left;
    color: #fff;
}
.callout .callout-button {
    float: right;
}
/* Testimonial */
.testimonial {
    border: 1px solid #ebebeb;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(180, 180, 180, 0.2);
    -moz-box-shadow: 1px 1px 2px 0px rgba(180, 180, 180, 0.2);
    box-shadow: 1px 1px 2px 0px rgba(180, 180, 180, 0.2);
}
.testimonial:after {
    content: '';
    width: 26px;
    height: 20px;
    position: absolute;
    bottom: -18px;
    right: 100px;
    background: url(../images/shortcode/testimonials.png) no-repeat;
}
.testimonial-img img {
    margin: 3px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius : 100%;
    float: right;
}
.testimonial-author {
    margin: 20px 20px 20px 0px;
    color: #bf9764;
    text-align: right;
    font-weight: bold;
    float: right;
}
/*List & List Item*/
ul.styled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.styled-list li {
    list-style: none;
    margin-bottom: 2px;
}
ul.styled-list li i {
    margin-right: 6px;
}
/*member*/
.member {
    overflow: hidden;
    text-align: center;
}
.member  .member-image {
    position: relative;
    margin-bottom: 1.5em;
    display: inline-block;
}
.member  .member-image img {
    border: none;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 200px;
    height: 200px;
}
.member h3, .member h4 {
    text-align: center;
    margin-bottom: 0.2em;
}
.member h3 {
    color: #bf9764;
}
.member .member-social {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    padding: 3px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    border-radius: 100%;
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
.member .member-image:hover .member-social {
    opacity: 1;

}
.member .member-social ul {
    margin-top: 100px;
    padding: 0;
}
.member .member-social li {
    display: inline-block;
    margin-right: 6px;
    font-size: 18px;
}
.member .member-social li a {
    color: #fff;
}
.member .member-social li a:hover {
    color: #bf9764;
}
/*linked More*/
.linked-more {
    border-top: 1px solid #bf9764;
    margin-bottom: 20px;
    line-height: 1em !important;
}
.linked-more span {
    padding-left: 1.067em;
    background: #fff;
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    margin-top: -.5em;
    float: right;
}
.linked-more a:hover span {
    text-decoration: underline;
}
/* Specific Browser*/
@media only screen and (max-width: 768px) {
    html #top {
        margin: 0 -1.618em;
        padding: 0 1.618em;
    }
    html #mobile-header {
        margin: 0 -1.618em 20px;
        padding: 0 1.618em;
        display: block;
    }
    #sidebar {
        clear: both;
    }
    .rev_slider_wrapper {
        margin-top: 3.15em !important;
    }
    .twitter-content-wrap {
        margin: 0 -1.618em ;
        padding: 0 1.618em;
    }
}

.sc-rlp-slider-1 .owl-nav,
.sc-rlp-slider-2 .owl-nav {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.sc-rlp-slider-1:hover .owl-nav,
.sc-rlp-slider-2:hover .owl-nav {
    display: block;
}
.sc-rlp-slider-1 .owl-prev,
.sc-rlp-slider-2 .owl-prev {
    margin-right: 5px;
}
.sc-rlp-slider-1 .owl-next,
.sc-rlp-slider-2 .owl-next {
    margin-left: 5px;
}
.sc-rlp-slider-1 .owl-prev,
.sc-rlp-slider-1 .owl-next,
.sc-rlp-slider-2 .owl-prev,
.sc-rlp-slider-2 .owl-next {
    display: inline-block;
    text-align: center;
    width: 2.618em; height: 2.618em;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        i:before {
            color: rgba(0, 0, 0, 0.8);
        }
    }
    i { vertical-align: -10px; }
    i:before {
        font-size: 27px;
        color: rgba(255, 255, 255, 0.8);
    }
}
.content-full-sh-img {
    width: 100%;
    display: block;
    float: left;
    clear: left;
}
.content-full-sh-img img {
    padding: 0px!important;
    border: 2px #bf9764;
    border-style: none none solid ;
}
.content-full-sh {
    display: block;
    float: left;
    clear: left;
    margin-bottom: 10px;
    padding: 10px;
}
.sh-banner {
    background: url('../images/featured.png');
    position: absolute;
    width: 62px;
    height: 76px;
    top: -3px;
    z-index: 3;
}
p.feat-rec {
    color: #bf9764;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 0px
}
.rel-title {
    clear: both;
}
#parallax .parallax_content {
    width: 100%;
    display: block;
    margin: 0 auto;
}
#parallax .parallax_out {

width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.mobile-true #parallax .parallax_out {
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover !important;
}
#parallax .parallax_in {
    /*text-align: center;
    */
position: relative;
    margin: 0 auto;
}
.boxed  #parallax .parallax_out, .boxed #parallax .parallax_content, .two-col-left #parallax .parallax_content, .two-col-right #parallax .parallax_content, .three-col-left #parallax .parallax_content, .three-col-right #parallax .parallax_content, .three-col-middle #parallax .parallax_content {
    margin-left: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.boxed-layout.one-col #parallax .parallax_out {
    width: 100%!important;
    margin-left: -2.85715%!important;
}


.authorlist {
    text-align: center;
    padding: 0 !important;
    float: left;
    margin-bottom: 20px;
}
.authorlist li {
    display: inline-block;
    float: left;
    margin: 0 4px;
    list-style: none;
    width: 65px;
    height: 110px;
}
.authorlist img.photo {
    float: left;
    margin-bottom: 5px;
    border: none !important;
}
.authorlist div{
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.authorlist div.authname {
    margin: 20px 0 0 10px;
    float: left;
}
.authorlist div a {
    word-break: break-word;
}