/* 2.5 Sidebar */
#sidebar {
    margin-top: 3em;
    overflow: hidden;
}
#sidebar h3, #sidebar-alt h3 {
    text-transform: uppercase;
}
#sidebar ul li {
    color: #545454;
}
#sidebar ul li a {
    color: #B9B9B9;
}
#sidebar .secondary {
    float: left;
    margin-right: 20px;
}
#sidebar .tertiary {
    float: left;
    margin-right: 0;
}
#sidebar .last {
    margin: 0;
}
#sidebar .widget_categories li:hover, #sidebar .widget_recent_comments li:hover {
    background: #fcfcfc;
    color: #bf9764;
}