@media only screen and (min-width: 800px) {
 /* Header */
/* Columns & Containers */
.col-left {
    float: left;
}
.col-right {
    float: right;
}
.col-full, .home #main-sidebar-container #main.full-width, .page-template-404-php #main-sidebar-container #main.full-width, .error404 #main-sidebar-container #main.full-width
  /*#wrapper */ {
    /*padding: 0 20px;
    */
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
#wrapper #sidebar {
    margin-top: 0;
}
/* Sidebar */
  #main-sidebar-container {
    position: relative;
}
#main-sidebar-container #main {
    position: relative;
}
#main-sidebar-container #sidebar {
    display: inline;
}
#sidebar-alt {
    display: inline;
    margin: 0;
}
/*5. Footer */
  #footer-widgets .block {
    margin-right: 3.8%;
    float: left;
}
/* 210 / 940 */
#footer-widgets.col-1 .block {
    width: 100%;
    margin-right: 0;
}
#footer-widgets.col-2 .block {
    width: 48%;
}
#footer-widgets.col-3 .block {
    width: 30.75%;
}
#footer-widgets.col-4 .block {
    width: 22.05%;
}
#footer-widgets.col-2 .footer-widget-2, #footer-widgets.col-3 .footer-widget-3, #footer-widgets.col-4 .footer-widget-4 {
    margin-right: 0;
}
/* Column Widths */
  .one-col #main {
    float: none;
}
.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main {
    width: 64.89%;
}
/* 610 / 940 */
  .two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #sidebar {
    width: 31.91%;
}
/* 300 / 940 */
  .three-col-left #main-sidebar-container #sidebar, .three-col-middle #main-sidebar-container #sidebar, .three-col-right #main-sidebar-container #sidebar {
    width: 39.47%;
}
/* 300 / 760 */
  .three-col-left #main-sidebar-container, .three-col-middle #main-sidebar-container, .three-col-right #main-sidebar-container {
    width: 80.85%;
}
/* 760 / 940 */
  .three-col-left #main-sidebar-container #main, .three-col-middle #main-sidebar-container #main, .three-col-right #main-sidebar-container #main {
    width: 57.89%;
}
/* 440 / 760 */
  #sidebar-alt {
    width: 17.02%;
}
/* 160 / 940 */
  /* Column Floating */
  .two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #sidebar, .three-col-left #main-sidebar-container, .three-col-left #main-sidebar-container #main, .three-col-middle #main-sidebar-container #main, .three-col-middle #sidebar-alt, .three-col-right #main-sidebar-container #sidebar, .three-col-right #sidebar-alt {
    float: left;
}
.two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #main, .three-col-left #main-sidebar-container #sidebar, .three-col-left #sidebar-alt, .three-col-middle #main-sidebar-container, .three-col-middle #main-sidebar-container #sidebar, .three-col-right #main-sidebar-container, .three-col-right #main-sidebar-container #main {
    float: right;
}

.home .flexslider, .page-template-template-home-php .flexslider {
    display: inline;
    float: left;
    width: 100%;
    overflow: hidden;
}
.home .flexslider li.slide, .page-template-template-home-php .flexslider li.slide {
    position: relative;
}
.home .flexslider li.slide .slide-content, .page-template-template-home-php .flexslider li.slide .slide-content {
    background: none;
    position: absolute;
    top: 28%;
    left: 12.236em;
    padding: 0;
    width: 100%;
    /*   display: none;
    */
}
.home .flexslider li.slide .slide-content header, .home .flexslider li.slide .slide-content .entry, .page-template-template-home-php .flexslider li.slide .slide-content header, .page-template-template-home-php .flexslider li.slide .slide-content .entry {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1em 2.244em;
}
.home .flexslider li.slide .slide-content .entry p, .page-template-template-home-php .flexslider li.slide .slide-content .entry p {
    color: #fff;
}
.home .flexslider li.slide .slide-content header, .page-template-template-home-php .flexslider li.slide .slide-content header {
    width: auto;
    float: left;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-bottom: 0;
    max-width: 50.829%;
}
.home .flexslider li.slide .slide-content header h1, .page-template-template-home-php .flexslider li.slide .slide-content header h1 {
    color: #fff;
    font-size: 260%;
    margin: 0;
}
.home .flexslider li.slide .slide-content header h1 a, .page-template-template-home-php .flexslider li.slide .slide-content header h1 a {
    color: #fff;
}
.home .flexslider li.slide .slide-content header:last-child, .page-template-template-home-php .flexslider li.slide .slide-content header:last-child {
    padding-bottom: 1em;
}
.home .flexslider li.slide .slide-content .entry, .page-template-template-home-php .flexslider li.slide .slide-content .entry {
    width: 39.89%;
    /*59.301%;
    */
    clear: left;
    padding-top: 1.618em;
    padding-bottom: 1.618em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

}