/*--[ Imports ]--------------------------------------------------------------------------------*/
/**
 * Functions
 */
/*--[ General Styles ]--------------------------------------------------------------------------------*/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
#go-signup {
  width:44.4%;
  padding: 10px;
  display: none;
  position: absolute !important;
  background:rgba(255, 255, 255, 0.4);
}
#go-signup .inner{
  padding:20px;
  background: #fff;
}
.modal_close {
position: absolute;
top: 12px;
right: 14px;
display: block;
color:#bf9764;
font-size: 16px;
z-index: 2;
}
#go-signup h2, #go-signup h3{
font-family: 'Open Sans';
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
}
 h2.login-facebook{
  text-align: center;
  clear: both;
  background:url(../images/pattern_line.png);
  margin: 20px 0 !important;
  padding: 5px;
  line-height: 0 !important;
  display: block;
}
h2.login-facebook span{
  background-color:#fff;
  padding: 10px;
}
.woocommerce-account .facebook-button,
#go-signup .facebook-button {
width: 100%;
padding: 1em 0 !important;
text-align: center;
}
#go-signup .form-row {
width: 100%;
float: left;
}
#go-signup .button {
  text-transform: uppercase;
}
#go-signup a.lost_password {
 padding-left: 10px;
}
#go-signup .col2-set .col-1, #go-signup .col2-set .col-2 {
  width:42.4%;
}
#go-signup .col2-set .col-2 {
float: left;
margin-left: 35px;
padding-left: 35px;
border-left: 1px solid #ebebeb;
}
.mobile-cart-count {
  background-color:#bf9764;
  color: #fff;
  border-radius:100%;
  padding:0 5px;
  margin-left: -5px;
}
#top nav.account-links , #top ul.cart {
    display: none;
  }
#top ul.cart {
list-style: none;
margin-bottom: 0;
float: left;
}
#top ul.cart li.container a.woo-cart {
padding: .266em 5.974em .2em .587em;
display: block;
text-align: left;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
position: relative;
color:#b9b9b9;
}
#top ul.cart li.container a.woo-cart span.contents {
padding: .27em .587em;
position: absolute;
top: 0;
right: 0;
/*width: 4.387em;*/
text-align: center;
}
#top ul.cart li.container a.woo-cart:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f07a";
  color:#fff;
  padding:.35em;
  background: #bf9764;
  border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

#top ul.cart li.container .widget {
display: none;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
}
#top ul.cart li.container .widget h2.widgettitle{
  font-size: 14px;
  text-transform: uppercase;
}
#top ul.product_list_widget {
  border-bottom:1px solid #e1e1e1;
}
#top p.total{
  text-align: right;
}
#top p.buttons {
  margin-bottom: 0;
}
#top p.buttons .checkout {
  float: right;
}
#top nav.account-links {
  float:left;
  padding: 0 10px;
  border-left: 1px solid #e1e1e1;
}
#top nav.account-links ul {
  margin-bottom: 0;
  padding: .2em 0 .4em;
  text-transform: uppercase;
}
#top nav.account-links li {
  list-style: none;
  display: inline;
  margin:0 .25em;
}
#top nav.account-links li a {
  color:#b9b9b9;
}
#top nav.account-links li a:hover {
  color:#bf9764;
}
select,
img {
  max-width: 100%;
}
.form-row label {
  display: block;
}
.form-row .input-text,
.form-row select {
  width: 100%;
  *width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-row input[type=checkbox] {
  float: left;
}
.form-row.woocommerce-validated .input-text,
.form-row.woocommerce-validated .chzn-single {
  border-color: #080;
}
.form-row.woocommerce-invalid .input-text,
.form-row.woocommerce-invalid .chzn-single {
  border-color: #c00;
}
.page header.title {
  overflow: hidden;
  zoom: 1;
  font-size: 1em;
}
.page header.title h1,
.page header.title h2,
.page header.title h3,
.page header.title h4,
.page header.title h5 {
  float: left;
}
.page header.title a.edit {
  float: right;
  font-family: 'Open Sans';
  color:#bf9764;
  font-size: 11px !important;
  text-transform: uppercase;
}
.woocommerce h1.page-title {
  font-size: 24px;
  margin-bottom: .5em;
}
p.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em 0;
  background: #ebdd75;
  color: #827513;
  z-index: 999999;
}
h3.product-title-sc,
h3.product-title-slider-sc {
    border-bottom: 1px solid #e1e1e1;
}
h3.product-title-sc {
  padding-bottom: .5335em;
}
h3.product-title-slider-sc {
  padding-bottom: .5335em;
  margin-bottom: 0;
}
/*--[ Product Categories ]--------------------------------------------------------------------------------*/
.shop-banner {
  margin-bottom: 1.067em;
}
ul.products {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
  clear: both;
}
ul.products:after {
  content: "";
  display: block;
  clear: both;
}
ul.products li.product {
  text-align: center;
  margin-bottom: 1.5em;
  position: relative;
  list-style: none;
  width: 48%;
  float: left;
  clear: left;
}
ul.products li.product:nth-child(2n) {
  float: right;
  clear: none;
}
ul.products li.product img {
  background: none;
  padding: 0;
  border-bottom: 2px solid #bf9764;
}
ul.products li.product a {
  display: block;
}
ul.products li.product a img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: .75em;
}
ul.products li.product a h3 {
 font-size: 13px;
 margin-bottom: 0;
}
ul.products li.product .price {
  display: block;
  font:16px 'Georgia',sans-serif;
}
ul.products li.product a.button {
  display: inline-block;
  margin-top: .5em;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  position: relative;
}
ul.products li.product .button.loading {
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}

ul.products li.product .button.loading:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f021";
  -webkit-animation-name: spin-360;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
ul.products li.product .button.added:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f00c";
}
ul.products li.product .added_to_cart {
  display: none;
}
ul.products li.product .star-rating {
  float: none;
  margin: .5em auto;
}
ul.products li.product del {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
ul.products li.product ins {
  text-decoration: none;
}
/*.woocommerce ul.products li.product .yith-wcwl-add-to-wishlist {
float: left;
margin-top: .5em !important;
display: block;
padding: 0;
bottom: 0;
right:64px;
position: absolute;
z-index: 3;
border-right-color: #e1e1e1;
}*/
/*.woocommerce ul.products li.product .yith-wcwl-add-to-wishlist a {
  padding: 0.35em 8px;
  color:#fff;
}*/
/*--[ Sale sticker ]--------------------------------------------------------------------------------*/
ul.products li.product .onsale {
  padding: 0 .557em;
  line-height: 3.75em;
   right:-1em;
  top:-1em;
  text-align: center;
  background: #E74C3C;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  position: absolute;
    -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-transform: uppercase;
}
/*--[ Breadcrumb ]--------------------------------------------------------------------------------*/
/*.breadcrumb {
  padding: 0 0 1em 0;
  margin-bottom: 3em;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.breadcrumb .breadcrumb-title {
  font-weight: bold;
}*/
/*--[ Single Product ]--------------------------------------------------------------------------------*/
.summary .single-product-share { margin:1.5em 0; padding-top:1.5em;text-align: right; border-top: 1px solid #e1e1e1;clear: both;}
.summary .single-product-share h4{ width:30%; overflow: hidden; float: left; text-align: left; line-height: 2; font-size: 1.3em; }
.summary .single-product-share li {display: inline-block;}
.summary .single-product-share a{ margin:0px;display: inline-block; background: url(../images/social.png);  }
.summary .single-product-share a.eml {background-position: 0px 0px; width: 32px; height: 32px; }
.summary .single-product-share a.eml:hover { opacity: .5;}
.summary .single-product-share a.twit {background-position: -64px 0px ; width: 32px; height: 32px; }
.summary .single-product-share a.twit:hover { opacity: .5; }
.summary .single-product-share a.face {background-position:-96px 0px ;width: 32px; height: 32px; }
.summary .single-product-share a.face:hover {  opacity: .5;}
.summary .single-product-share a.goo {background-position: -128px 0px ;width: 32px; height: 32px; }
.summary .single-product-share a.goo:hover { opacity: .5; }
.summary .single-product-share a.pin {background-position:-224px 0px ;width: 32px; height: 32px; }
.summary .single-product-share a.pin:hover {  opacity: .5;}

.woocommerce .images {
  margin-bottom: 1.5em;
}
.woocommerce .images img {
  width: 100%;
  height: auto;
}
.woocommerce .images a {
  display: block;
  margin-bottom: .5em;
}
.woocommerce .images .thumbnails {
  overflow: hidden;
  zoom: 1;
}
.woocommerce .images .thumbnails a {
  float: left;
  margin-right: 3.7%;
}
.woocommerce .images .thumbnails a .last {
  margin-right: 0;
}
.woocommerce .images .thumbnails a .first {
  clear: left;
}
.woocommerce .summary {
  margin-bottom: 1.5em;
}
.woocommerce .summary h1.product_title {
  font-size: 24px;
  margin-bottom: .5em;
}
.woocommerce .summary form {
  margin-bottom: 1.5em;
}
.woocommerce .summary p {
  margin-bottom: 1.5em;
}
.price span.from {
display: none;
}
.single_variation .price {
display: block;
margin-top: .5em;
}
.woocommerce .summary p.price,
.single_variation .price {
  font-weight: bold;
  font: 24px 'Georgia',sans-serif;
  margin-bottom: .5em;
}
.woocommerce .summary p.price del {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  font-size: 18px;
}
.woocommerce .summary p.price ins {
  text-decoration: none;
  padding-left: .5em;
}
.shipping-calculator-form .calc-shipping,
.variations_form .variation_wrap {
 position: relative;
}
.form-row select,
.woocommerce-ordering select,
.variations_form select {
cursor: pointer;
-webkit-border-radius: 0;
border-radius: 0;
height: 34px;
-webkit-appearance: none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
border: 1px solid #e1e1e1;
position: relative;
top: 1px;
background: white;
}
.shipping-calculator-form .calc-shipping:after{
 top: 7px !important;
}
.woocommerce_ordering:after, .woocommerce-ordering:after,
.shipping-calculator-form .calc-shipping:after,
.variations_form .variation_wrap:after {
content: "\f0dd";
position: absolute;
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
display: inline;
font-size: 14px;
opacity: 0.7;
top: 8px;
right: 10px;
width: 20px;
height: 20px;
text-align: center;
background-color: #e1e1e1;
}
.woocommerce .summary table.variations {
  border: 0;
}
.woocommerce .summary table.variations tr td {
  border: 0;
  font: 16px 'Georgia',sans-serif;
  padding-bottom:1.067em;
  padding-top: 0;
}
.woocommerce .summary table.variations tr td.label {
 padding-top: 0.5335em;
}
.woocommerce .summary table.variations select {
  width:100%;
  padding:6px 6px 6px 0;
}
.woocommerce .summary table.variations tr td a.reset_variations{
font-size: 11px;
font-style: italic;
}
.woocommerce .summary table.group_table .out-of-stock {
  display: block;
  color: #900;
}
.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
  padding: .5em 1em;
  vertical-align: middle;
}
.woocommerce table.shop_attributes th p:last-child,
.woocommerce table.shop_attributes td p:last-child {
  margin-bottom: 0 !important;
}
.woocommerce .woocommerce_tabs,
.woocommerce .woocommerce-tabs {
  clear: both;
  margin-bottom: 3em;
}
.woocommerce .woocommerce_tabs ul.tabs,
.woocommerce .woocommerce-tabs ul.tabs {
  overflow: hidden;
  zoom: 1;
  list-style: none;
  padding: .5em .5em 0 .5em;
}
.woocommerce .woocommerce_tabs ul.tabs li,
.woocommerce .woocommerce-tabs ul.tabs li {
  float: left;
  border:1px solid #e1e1e1;
  border-bottom: 0;
  background: #f3f3f3;
  margin-right: 5px;
}
.woocommerce .woocommerce_tabs ul.tabs li a,
.woocommerce .woocommerce-tabs ul.tabs li a {
  font-family: "Georgia", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: .5em 1em;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.woocommerce .woocommerce_tabs ul.tabs li.active a,
.woocommerce .woocommerce-tabs ul.tabs li.active a {
  background: #fff;
  color: #bf9764;
}
.woocommerce .woocommerce_tabs p,
.woocommerce .woocommerce-tabs p {
  margin-bottom: 1.5em;
}
.woocommerce .woocommerce_tabs #comments,
.woocommerce .woocommerce-tabs #comments {
  border: 0;
  margin: 0;
  padding: 0;
}
.woocommerce .woocommerce_tabs .panel,
.woocommerce .woocommerce-tabs .panel {
  padding: 1em;
}

/* Woocommerce Tabs */
.woocommerceTabs {
    clear:both;
    margin-bottom: 3em !important;
}
.woocommerce ul.resp-tabs-list {
  overflow: hidden;
   padding-top: 1em;
    margin: 0px;
    zoom: 1;
}

.woocommerce .resp-tabs-list li {
    display: inline-block;
    padding: .5em 1em;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    background: #f3f3f3;
     -webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

.woocommerce .resp-tabs-list li a{
  font-family: "Georgia", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.woocommerce .resp-tabs-list li.resp-tab-active a {
    color:#bf9764;
}

.woocommerce .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

.woocommerce h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.woocommerce .resp-tab-content {
    display: none;
    padding: 2.618em;
    padding-right: 0;
   padding-left: 0;
}

.woocommerce .resp-tab-content p {
  margin-bottom: 1.5em;
}

.woocommerce .resp-tab-content #comments {
  border: 0;
  margin: 0;
  padding: 0;
}


.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #e1e1e1;
    border-left: 0;
    border-right: 0;
}
.woocommerce h2.resp-accordion {
    font-size: 13px;
    /*border: 1px solid #dbdbdb;*/
    border-top: 1px solid #e1e1e1;
    margin: 0px;
    padding: 10px 0px;
    font-weight: 400;
}

.woocommerce h2.resp-tab-active {
    border-bottom: 0px solid #e1e1e1 !important;
    margin-bottom: 0px !important;
    padding: 10px 0px !important;
    box-shadow: none;
}

.woocommerce h2.resp-tab-title:last-child {
    border-bottom: 12px solid #e1e1e1 !important;
    background: blue;
}
.woocommerce .resp-arrow:after {
    font-family: "FontAwesome";
    float:right;
    font-size: 14px;
    opacity: .4;
    position: relative;
    content: "\f107";
    display: inline-block;
}

.woocommerce h2.resp-tab-active span.resp-arrow:after {
    content: "\f106";
}
/*Accordion*/
.resp-easy-accordion  h2.resp-accordion {
        display: block;
        text-align: center;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #e1e1e1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

/*h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}*/
@media only screen and (max-width: 800px) {
   .woocommerceTabs {
    border-top:0;
    }
    .resp-tab-content {
    border: 0;
    }
    .resp-tab-content:last-child {
    border-bottom: 1px solid #e1e1e1 !important;
    }
   .woocommerce ul.resp-tabs-list {
        display: none;
    }

  .woocommerce  h2.resp-accordion {
        display: block;
    }

   .woocommerce .resp-vtabs .resp-tab-content {
        border: 1px solid #e1e1e1;
    }

   .woocommerce .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
   .woocommerce .resp-accordion-closed {
        display:none !important;
    }
   .woocommerce .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #e1e1e1 !important;
    }
}
.woocommerce .product_meta {
  padding: 1.5em 0;
  border: 1px solid #bf9764;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 1em;
  font-size: 12px;
}
.woocommerce .product_meta a {
  color:#bf9764;
}
.woocommerce .summary .social {
  text-align: right;
}
.woocommerce .social iframe {
  float: left;
}
.woocommerce #main div.product {
  position: relative;
}
.single-product .onsale {
   padding: 0 .557em;
  line-height: 3.75em;
  right:-1em;
  top:-1em;
  text-align: center;
  background: #E74C3C;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  position: absolute;
    -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-transform: uppercase;
}
.woocommerce #tab-description ol,
.woocommerce #tab-description ul {
  margin: 0 0 15px 0;
  padding: 0 0 0 30px;
}
.woocommerce #tab-description ol li {
  list-style: decimal;
  list-style-type: decimal;
}
.woocommerce #tab-description ul li {
  list-style: disc;
  list-style-type: disc;
}
.woocommerce .related,
.woocommerce .upsells {
  clear: both;
}
/*--[ Reviews ]--------------------------------------------------------------------------------*/
#reviews a.show_review_form{
  text-decoration: underline;
}
#reviews h2 {
  margin-bottom: .75em;
}
#reviews .commentlist {
  margin-bottom: 20px;
}
#reviews .commentlist li {
  background: none !important;
}
#reviews .comment.bypostauthor {
  background: none;
  border: 0;
}
#reviews .comment.thread-even {
  border: 0;
  background: none;
}
#reviews .comment_container {
  padding: 20px 0;
}
#reviews .comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
#reviews img.avatar {
  width: 3.85%;
  padding: .5%;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  float: left;
}
#reviews .comment-text {
  width: 91.35%;
  float: right;
  *width: 86%;
  *margin-right: 30px;
}
#reviews .comment-text p:last-child {
  margin-bottom: 0;
}
#reviews .star-rating {
  float: right;
}
#fancybox-outer {
  padding: 20px;
}
#fancybox-outer #respond {
  margin-top: 0;
}
/*--[ Messages and Alerts ]--------------------------------------------------------------------------------*/
.woocommerce_message,
.woocommerce_error,
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  margin: 10px 0 20px 0;
  padding: 9px 10px 9px 50px;
  overflow: hidden;
  zoom: 1;
  clear: left;
}
.woocommerce_message .button,
.woocommerce_error .button,
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
  margin: 0;
  margin-top: -3px;
  margin-bottom: -3px;
}
.woocommerce-info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eeeeee url(../images/ico-info.png) no-repeat 20px 13px;
}
.woocommerce_error,
.woocommerce-error {
  border-top: 1px solid #f0baa2;
  border-bottom: 1px solid #f0baa2;
  background: #ffd9c8 url(../images/ico-alert.png) no-repeat 20px 13px;
}
ul.woocommerce_error,
ul.woocommerce-error {
  padding: 8px 8px 8px 50px !important;
  list-style: none !important;
}
ul.woocommerce_error li,
ul.woocommerce-error li {
  list-style: none !important;
}
.woocommerce_message:before,
.woocommerce-message:before {
content:'\f07a';
font-family: 'fontawesome';
display:inline-block;
-webkit-border-radius:100%;
-moz-border-radius:100%;
border-radius:100%;
padding:0 .4em;
color: #fff;
background: #bf9764;
margin-left: -4%;
}
.woocommerce_message,
.woocommerce-message {
  border-color: #bf9764;
  border-width: 1px 1px 1px 5px ;
  border-style:solid;
  background: #fff;
}
/*--[ Widgets ]--------------------------------------------------------------------------------*/
.widget_product_categories li:before {
 font-family: 'FontAwesome';
  content:"\f0da";
  position: relative;
  display: inline-block;
  left: -3px;
  text-indent: -12px;
}
.widget_product_categories li {
padding: 0 0 6px;
/*margin-bottom: 6px;*/
line-height: 17px;
border-bottom: 1px solid #e1e1e1;
}
#sidebar .widget_product_categories li:hover{
  background: #fcfcfc;
 color:#bf9764;
}
.widget_product_categories li ul li:before {
 font-family: 'FontAwesome';
  content:"\f105";
}
.widget_product_categories ul ul li{
    border-bottom: 1px dashed #e1e1e1;
}
.widget_product_categories ul ul li:last-child{
  border-bottom: none;
}
.widget ul.product_list_widget {
  list-style: none;
  padding: 0;
}
.widget ul.product_list_widget li {
  clear: left;
  overflow: hidden;
  zoom: 1;
  margin-bottom: .5em;
}
.widget ul.product_list_widget li a {
  display: block;
  padding-left: 0;
}
.widget ul.product_list_widget li img {
  float: left;
  margin: 0 1.067em .5em 0;
  padding: 3px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 42px;
  height: auto;
  border: 1px solid #e6e6e6 !important;
}
.widget ul.product_list_widget li dl.variation {
  overflow: hidden;
  zoom: 1;
}
.widget ul.product_list_widget li dl.variation dt {
  font-weight: bold;
  float: left;
  clear: left;
  margin-right: .3em;
}
.widget ul.product_list_widget li dl.variation dd {
  float: left;
}
.widget ul.product_list_widget li .star-rating {
  float: none;
  margin-bottom: .25em;
}
.widget_price_filter .ui-state-default,
.widget_price_filter .ui-widget-content .ui-state-default,
.widget_price_filter .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
}
.widget_price_filter .ui-state-hover,
.widget_price_filter .ui-widget-content .ui-state-hover,
.widget_price_filter .ui-widget-header .ui-state-hover,
.widget_price_filter .ui-state-focus,
.widget_price_filter .ui-widget-content .ui-state-focus,
.widget_price_filter .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada;
  font-weight: normal;
  color: #212121;
}
.widget_price_filter .ui-state-active,
.widget_price_filter .ui-widget-content .ui-state-active,
.widget_price_filter .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  font-weight: normal;
  color: #212121;
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: default;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}
.widget_price_filter .price_slider_wrapper .ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}
.widget_price_filter .ui-slider-horizontal {
  height: .25em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-handle {
  top: -0.45em;
  margin-left: -0.8em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.widget_price_filter .price_slider {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 12px 1.5em;
}
.widget_price_filter .ui-widget-header {
  border: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}
.widget_price_filter .ui-slider-handle {
  background: #bf9764 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  cursor: pointer;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.5em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_layered_nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.widget_layered_nav ul li {
  overflow: hidden;
  zoom: 1;
}
.widget_layered_nav ul li a {
  float: left;
  padding-left: 0;
}
.widget_layered_nav ul li .count {
  float: right;
  line-height: 22px;
  background: rgba(0, 0, 0, 0.025);
  padding: 0 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.widget_layered_nav ul li.chosen a{
  padding-left: 18px;
  background: url(../images/cross.png) left no-repeat;
}
 .widget_shopping_cart ul.product_list_widget li {
padding-bottom:0;
}
 .widget_shopping_cart ul.product_list_widget li img{
margin-bottom: 0;
}
/*--[ Quantity incrementer ]--------------------------------------------------------------------------------*/
.quantity {
  float: left;
  margin-bottom: .5em;
  margin-right: .5em;

  /* Disable input[type=number] buttons until the world is ready */

}
.quantity:after {
  content: "";
  display: block;
  clear: both;
}
/*.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
}*/
.quantity input.qty {
  width: 40px;
  padding: 5px 3px;
  margin:0 5px;
  font-size: 14px !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #bf9764;
   text-align: center;
  float: left;
  z-index: 10;
}
@-moz-document url-prefix() {
.quantity input.qty{
  padding: 6px 3px;
}
}

.quantity .plus,
.quantity .minus {
  width: 28px;
  text-align: center;
  padding: 5px 0;
  font-size: 14px !important;
  border: 1px solid #bf9764;
  background: #bf9764;
  color: #fff;
 /* background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#bf9764));
  background: -webkit-linear-gradient(#ffffff, #bf9764);
  background: -moz-linear-gradient(center top, #ffffff 0%, #bf9764 100%);
  background: -moz-gradient(center top, #ffffff 0%, #bf9764 100%);*/
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  z-index: 20;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #a68356;
}

/*--[ Buttons ]-------------------------------------------------------------------------------------*/
.button-alt {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff !important;
  text-decoration: none;
  border: none;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e4954a;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4954a), to(#da7b21));
  background: -webkit-linear-gradient(#e4954a, #da7b21);
  background: -moz-linear-gradient(center top, #e4954a 0%, #da7b21 100%);
  background: -moz-gradient(center top, #e4954a 0%, #da7b21 100%);
  border: 1px solid #da7b21;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  line-height: 1.1em;
}
.button-alt:hover {
  background: #ebaf76;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebaf76), to(#da7b21));
  background: -webkit-linear-gradient(#ebaf76, #da7b21);
  background: -moz-linear-gradient(center top, #ebaf76 0%, #da7b21 100%);
  background: -moz-gradient(center top, #ebaf76 0%, #da7b21 100%);
  text-decoration: none;
}
.button-alt:active {
  top: 1px;
}
/*--[ Star ratings ]--------------------------------------------------------------------------------*/
.rating-wrap {
 margin-bottom: 1.067em;
}
.rating-wrap .review-count, .rating-wrap .star-rating {
display: inline-block;
margin-right: 5px;
}
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  width: 4.7em;
  font-family: "fontawesome";
}
.star-rating:before {
  content: "\f005\f005\f005\f005\f005";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  color:#ebebeb;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  color: #ffc000;
}
/* Sidebar / footer stars */
.widget .star-rating {
  font-size: .8em;
}
.comment-form-rating {
  clear: both;
}
p.stars {
  position: relative;
  line-height: 1em;
  font-size: 1em;
}
p.stars:after {
  content: "";
  display: block;
  clear: both;
}
p.stars a {
  width: 19%;
  display: block;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .5em .5em .75em;
  background: rgba(0, 0, 0, 0.025);
  margin-right: 1%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
p.stars a:hover,
p.stars a.active {
  background: rgba(0, 0, 0, 0.075);
}
p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
  font-family: "FontAwesome";
  content: "\f005";
  position: absolute;
  top: .85em;
  width: 5.3em;
  right: 1em;
  font-size: .5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: #999;
  text-align: right;
  font-weight: normal;
}
p.stars a.star-1:hover,
p.stars a.star-2:hover,
p.stars a.star-3:hover,
p.stars a.star-4:hover,
p.stars a.star-5:hover {
  text-decoration: none;
}
p.stars a.star-1:after {
  content: "\f005";
}
p.stars a.star-2:after {
  content: "\f005\f005";
}
p.stars a.star-3:after {
  content: "\f005\f005\f005";
}
p.stars a.star-4:after {
  content: "\f005\f005\f005\f005";
}
p.stars a.star-5:after {
  content: "\f005\f005\f005\f005\f005";
}
/**
 * Cart
 */
table.cart .product-thumbnail,
table.cart .product-price {
  display: none;
}
table.cart .actions {
  text-align: right;
}
table.cart .actions .coupon {
  float: left;
}
table.cart a.remove {
  color: #fff;
  font-weight: bold;
  background: #c00;
  display: inline-block;
  height: 1.1em;
  width: 1.1em;
  line-height: 1;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
table.cart a.remove:hover {
  text-decoration: none;
  background: #f00;
}
table.cart td {
  vertical-align: middle;
}
table.cart img {
  padding: 3px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
table.cart .quantity {
  margin: 0;
}
table.cart .quantity input {
  margin-bottom: 0;
}
table.my_account_orders {
  font-size: 0.8751em;
}
.cart_totals select {
  width: 100%;
}
/*--[ The cart ]--------------------------------------------------------------------------------*/
table.cart img {
  width: 32px;
  height: auto;
}
table.cart td.actions .coupon {
  text-align: left;
  margin-bottom: 0;
}
table.cart td.actions .coupon label {
  display: none;
}
table.cart td.actions .coupon #shareyourcart_button {
  float: left;
}
table.cart td.actions .button,
table.cart td.actions .checkout-button,
table.cart td.actions .input-text {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: .5em !important;
  text-align: center;
  padding: 4px 0;
}
table.cart td.actions .checkout-button {
  margin-bottom: 0 !important;
}
.cart-collaterals {
  overflow: hidden;
  zoom: 1;
}
.cart-collaterals .shipping_calculator {
  clear: right;
}
.cart-collaterals #shipping_method {
  padding: 0 !important;
  list-style: none !important;
}
.cart-collaterals #shipping_method li {
  list-style: none !important;
}
.cart-collaterals .cross-sells {
  float: left;
}
.cart-collaterals .cross-sells ul.products {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
/*--[ Product Ordering ]--------------------------------------------------------------------------------*/
.woocommerce_result_count,
.woocommerce_ordering,
.woocommerce-result-count,
.woocomerce-ordering {
  width: 50%;
  float: left;
  margin-bottom:1.067em;
}
.woocommerce_ordering,
.woocommerce-ordering {
  position: relative;
  width:195px;
}
.woocommerce-result-count a{
 color:#bf9764;
 font-style: italic;
}
.woocommerce_ordering select,
.woocommerce-ordering select{
  padding: 6px 6px 6px 0;
  width:195px;
}
/*--[ The Checkout ]--------------------------------------------------------------------------------*/
#shiptobilling {
  float: right;
}
#shiptobilling input {
  float: left;
}
.create-account {
  float: left;
}
.payment_methods {
  margin: 0 0 1.5em 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
.payment_methods li {
  list-style: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: .5em 0;
}
.payment_methods li img {
  padding: 0 !important;
  border: none !important;
  max-height: 52px;
  vertical-align: middle;
}
.payment_box fieldset {
  margin-bottom: 0;
}
.payment_box .form-row .woocommerce-select {
  width: 30.75%;
  float: left;
  margin-right: 3.8%;
}
.payment_methods + .form-row {
  width: 100%;
}
.payment_methods + .form-row #place_order {
  float: right;
}
.payment_methods + .form-row label {
  display: inline;
}
.payment_methods + .form-row input {
  float: left;
}
.required {
  color: #c00;
  border: 0;
}
/*--[ User Account ]--------------------------------------------------------------------------------*/
ul.order_details {
  list-style: none;
  border: 1px solid #ddd;
  position: relative;
  -webkit-border-radius: 0.327em;
  -moz-border-radius: 0.327em;
  border-radius: 0.327em;
  list-style: none !important;
  padding: 0 !important;
}
ul.order_details:after {
  content: "";
  display: block;
  clear: both;
}
ul.order_details li {
  float: left;
  padding: 1em 1.618em;
  border-right: 1px solid #ddd;
  font-size: .8em;
  text-transform: uppercase;
  list-style: none !important;
}
ul.order_details li strong {
  display: block;
  font-size: 1.387em;
  text-transform: none;
}
.woocommerce-account .addresses address {
  clear: both;
}
.woocommerce form.cart button.single_add_to_cart_button {
  float:left;
  text-transform: uppercase;
}
/*yith wishlist*/
.yith-wcwl-add-to-wishlist {
background: #bf9764;
text-align: center;
width: 29px;
height: 29px;
display: block;
float: left;
border-left: 1px solid #e1e1e1;
margin-top: 0 !important;
line-height: 20px;
display: none;
}
@-moz-document url-prefix() {
  .single-product .yith-wcwl-add-to-wishlist {
   width: 31px;
   height: 31px;
  }
}
.woocommerce form.cart .yith-wcwl-add-to-wishlist {
display: block;
padding: 0;
float: left;
line-height: 1.3px;
text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.woocommerce ul.products li.product  .yith-wcwl-add-to-wishlist a,
.woocommerce form.cart .yith-wcwl-add-to-wishlist a {
color:#fff;
display: block;
width: 29px;
height: 29px;
line-height: 29px;
background: transparent;
}
.woocommerce ul.products li.product .yith-wcwl-add-to-wishlist a:hover,
.woocommerce form.cart .yith-wcwl-add-to-wishlist a:hover {
color:#6B5436;
}
.yith-wcwl-add-button > a i {
margin-right: 0 !important;
vertical-align: -1px;
}
.yith-wcwl-wishlistaddedbrowse a,
.yith-wcwl-wishlistexistsbrowse a {
  background-color:#6B5436 !important;
  color:#fff !important;
}
.yith-wcwl-add-to-wishlist span.feedback {
display: none!important;
}
.wishlist_table .add_to_cart, .yith-wcwl-add-button > a.button.alt {
border-radius: 0 !important;
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
}
.entry .yith-wcwl-share ul {
  padding: 0 ;
}
.woocommerce ul.products li.product .yith-wcwl-add-to-wishlist {
  float: right;
  display: block;
  padding: 0;
  line-height: 1.3px;
  margin-top: .5em !important;
  position: relative;
  z-index: 3;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
 border-left: 1px solid #e1e1e1;
}

.loop-button-wrap{
  display: inline-block;
}
.loop-button-wrap .add_to_cart_button{
  float: left;
}
/* Desktop Styles */
@media only screen and (min-width: 768px) {
    #top nav.account-links , #top ul.cart {
    display: block;
  }

  #top ul.cart {
margin-bottom: 0;
}
#top ul.cart li.container a.woo-cart span.contents {
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
float: none;
}
#top ul.cart li.container {
position: relative;
border-left: 1px solid #e1e1e1;
}
#top ul.cart li.container .widget {
position: absolute;
top: 100%;
right: 0;
z-index: 99;
background: #ffffff;
border-top: 2px solid #bf9764;
box-shadow:0 2px 5px #e1e1e1;
-moz-box-shadow: 0 2px 5px #e1e1e1;
-webkit-box-shadow: 0 2px 5px #e1e1e1;
margin: 0;
list-style: none;
padding: 1em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 19.928em;
}
#top ul.cart li.container:hover .widget {
display: block;
}
#top ul.cart li.container .widget .cart_list li {
padding:0 0 0 1.067em;
}
#top ul.cart li.container .widget .cart_list li img{
margin-bottom: 0;
}
  .col2-set {
    clear: both;
  }
  .col2-set:after {
    content: "";
    display: block;
    clear: both;
  }
  .col2-set .col-1 {
    width: 49%;
    float: left;
  }
  .col2-set .col-2 {
    width: 49%;
    float: right;
  }
  .form-row {
    width: 49%;
    float: left;
  }
  .form-row label {
    display: block;
  }
  .form-row .input-text,
  .form-row select {
    width: 100%;
    *width: 90%;
     padding: 6px;
     border: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-row input[type=checkbox] {
    float: left;
  }
  .form-row.notes {
    width: 100%;
  }
  .form-row.notes textarea {
    width: 100%;
    *width: 90%;
  }
  .form-row-first {
    clear: left;
  }
  .form-row-last {
    float: right;
  }
  .form-row-wide {
    float: left;
    width: 100%;
    clear: both;
  }
/*  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator,
  .cart-collaterals .cross-sells {
    width: 48%;
    float: right;
  }*/
  .cart-collaterals .cross-sells {
    float: left;
  }
 /* .woocommerce.one-col .related,
  .woocommerce.one-col .upsells {
    width: 48%;
  }
  .woocommerce.one-col .related {
    float: left;
  }
  .woocommerce.one-col .upsells {
    float: right;
  }
  .woocommerce.one-col .upsells ul {
    float: left;
    width: 100%;
  }*/
  .woocommerce .images {
    width: 48%;
    margin-right: 3.8%;
    float: left;
  }
  .woocommerce .summary {
    width: 48%;
    float: right;
    margin-bottom: 1.5em;
  }
  .woocommerce .woocommerce-tabs ul.tabs,
  .woocommerce .woocommerce_tabs ul.tabs {
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #e1e1e1;
  }
  .woocommerce .woocommerce-tabs .panel,
  .woocommerce .woocommerce_tabs .panel {
    padding: 1.618em;
  }
  ul.products li.product {
    clear: none;
    width: 22%;
    margin-right: 3.8%;
  }
  ul.products li.product:nth-child(2n) {
    float: left;
  }
  ul.products li.product.first {
    clear: left;
  }
  ul.products li.product.last {
    margin-right: 0;
  }
  .single-product .onsale {
right:50%;
}
/*Woocommerce Product Columns*/
.woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
.woocommerce-columns-3 ul.products li.product {
    display: inline;
    float: left;
    width: 29.629629629629626%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 29.577546296296294%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
.woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }
   .woocommerce-columns-5 ul.products li.product {
    width: 17.21%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }

  /*Woocommerce homepage Product Columns*/
/*.home .woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
.home .woocommerce-columns-3 ul.products li.product {
    display: inline;
    float: left;
    width: 29.629629629629626%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 29.577546296296294%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
.home .woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }
 .home .woocommerce-columns-5 ul.products li.product {
    width: 17.21%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }*/
    .single-product .related,
  .single-product .upsells,
 {
    display: inline;
    float: left;
    width: 96.29629629629629%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 96.24421296296296%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
  .single-product .related ul.products,
  .single-product .upsells ul.products
 {
    display: block;
    width: 103.7037037037037%;
    margin-left: -1.8518518518518516%;
    margin-right: -1.8518518518518516%;
    *width: 103.65162037037037%;
    *margin-left: -1.903935185185185%;
    *margin-right: -1.903935185185185%;
    *zoom: 1;
  }
  .single-product .related ul.products:after,
  .single-product .upsells ul.products:after
 {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .single-product .related ul.products:before,
  .single-product .upsells ul.products:before,
  .single-product .related ul.products:after,
  .single-product .upsells ul.products:after
 {
    content: "";
    display: table;
  }
  .single-product .related ul.products:after,
  .single-product .upsells ul.products:after
  {
    clear: both;
  }
  .single-product .related ul.products li.product,
  .single-product .upsells ul.products li.product
  {
    display: inline;
    float: left;
    width: 29.629629629629626%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 29.577546296296294%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
  .single-product.one-col .product .related ul.products,
  .single-product.one-col .product .upsells ul.products {
    display: block;
    width: 102.77777777777777%;
    margin-left: -1.3888888888888888%;
    margin-right: -1.3888888888888888%;
    *width: 102.72569444444444%;
    *margin-left: -1.440972222222222%;
    *margin-right: -1.440972222222222%;
    *zoom: 1;
  }
  .single-product.one-col .product .related ul.products:after,
  .single-product.one-col .product .upsells ul.products:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .single-product.one-col .product .related ul.products:before,
  .single-product.one-col .product .upsells ul.products:before,
  .single-product.one-col .product .related ul.products:after,
  .single-product.one-col .product .upsells ul.products:after {
    content: "";
    display: table;
  }
  .single-product.one-col .product .related ul.products:after,
  .single-product.one-col .product .upsells ul.products:after {
    clear: both;
  }
  .single-product.one-col .product .related ul.products li.product,
  .single-product.one-col .product .upsells ul.products li.product {
    display: inline;
    float: left;
    width: 22.22222222222222%;
    margin-left: 1.3888888888888888%;
    margin-right: 1.3888888888888888%;
    *width: 22.17013888888889%;
    *margin-left: 1.3368055555555556%;
    *margin-right: 1.3368055555555556%;
  }

  table.cart .product-remove,
  table.cart .product-thumbnail,
  table.cart .product-price {
    display: table-cell;
  }
  table.cart td.actions {
    text-align: right;
  }
  table.cart td.actions .coupon {
    width: 50%;
    float: left;
  }
  table.cart td.actions .input-text,
  table.cart td.actions .button,
  table.cart td.actions .checkout-button {
    width: auto;
    display: inline-block;
    margin-bottom: 0 !important;
  }
  .woocommerce_ordering,
.woocommerce-ordering {
  float: right;
}
.cart-collaterals table th{
  width:50%;
}
}

@media only screen and (max-width: 767px) {
.woocommerce_ordering, .woocommerce-ordering {
clear: both;
}
}
