				@font-face {
					font-family: 'cheltenham';
					src: url('/wp-content/uploads/useanyfont/1017cheltenham.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/1017cheltenham.woff') format('woff');
				}

				.cheltenham{font-family: 'cheltenham' !important;}

				.et_gf_cheltenham{background:none !important;font-family:cheltenham;text-indent:0 !important;font-size:25px;}

		