				@font-face {
					font-family: 'cheltenham';
					src: url('/wp-content/uploads/useanyfont/1017cheltenham.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/1017cheltenham.woff') format('woff');
					font-display: auto;
				}

				.cheltenham{font-family: 'cheltenham' !important;}

		