/* 2.1 Containers & Columns */
/* 2.4 Content */
#content {
    /*margin-top: 84px ;
    */
  padding: 40px 0 ;
    position: relative;
}
.hide{
    display: none;
}
// content post
@import "content/_posts";
// content author single
@import "content/_author";
// content comments
@import "content/_comments";
// slider
@import "content/_slider";
// page contact
@import "content/_contact";
// page contact
@import "content/_timeline";
// recipe
@import "content/_recipe";
// 404
@import "content/_404";