/* 6.1 Buttons */
body #go-signup .button, body #go-signup .button:visited, body #top a.button, body #top a.button:visited, body #wrapper #content .button, body #wrapper #content .button:visited, body #wrapper #content .reply a, body #wrapper #content #respond .form-submit input#submit {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: inline-block;
    padding: 8px 20px;
    color: #fff !important;
    text-decoration: none;
    border: none;
    position: relative;
    cursor: pointer;
}
body #go-signup .button, body #go-signup .button:visited, body #top a.button, body #top a.button:visited, body #wrapper #content .button, body #wrapper #content .button:visited, body #wrapper #content .reply a, body #wrapper #content #respond .form-submit input#submit {
    border: none;
    background: #bf9764;
}
body #go-signup .button:hover, body #top a.button:hover, body #wrapper #content .button:hover, body #wrapper #content .reply a:hover, body #wrapper #content #respond .form-submit input#submit:hover {
    color: #fff  !important;
    text-decoration: none;
    background-color: #a68356;
}
body #go-signup .button:active, body #top a.button:active, body #wrapper #content .button:active, body #wrapper #content .reply a:active, body #wrapper #content #respond .form-submit input#submit:active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
}
body #wrapper #content .small.button, body #wrapper #content .small.button:visited, body #wrapper #content .reply a {
    font-size: 10px;
    padding: 0px 6px 1px;
    text-transform: uppercase;
}
body #go-signup .button, body #go-signup .button:visited, body #top a.button, body #top a.button:visited, body #wrapper #content .button, body #wrapper #content .button:visited, body #wrapper #content .medium.button, body #wrapper #content .medium.button:visited, body #wrapper #content #respond .form-submit input#submit {
    font-size: 13px;
    line-height: 1;
    padding: 8px 20px;
}
@-moz-document url-prefix() {
    body.woocommerce-cart #wrapper #content .button, body.woocommerce-cart #wrapper #content .button:visited, body.woocommerce-cart #wrapper #content .medium.button, body.woocommerce-cart #wrapper #content .medium.button:visited, body.woocommerce-cart #wrapper #content #respond .form-submit input#submit {
    padding: 4px 18px ;
}
}
body #wrapper #content .large.button, body #wrapper #content .large.button:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
}
body #go-signup .button, body #go-signup .button:visited, body #top a.button, body #top a.button:visited, body #wrapper #content .button, body #wrapper #content .button:visited, body #wrapper #content .medium.button, body #wrapper #content .medium.button:visited, body #wrapper #content #respond .form-submit input#submit {
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
body #go-signup .button, body #go-signup .button:visited, body #top a.button, body #top a.button:visited, body #wrapper #content .button, body #wrapper #content .button:visited, body #wrapper #content .reply a, body #wrapper #content #respond .form-submit input#submit {
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
body #go-signup .button:hover, body #top a.button:hover, body #wrapper #content .button:hover, body #wrapper #content .reply a:hover, body #wrapper #content #respond .form-submit input#submit:hover {
    opacity: 0.9;
}
.sticky {
}
.sticky h2:before {
    font-family: 'FontAwesome';
    content: "\f08d";
    position: relative;
    display: inline-block;
    left: -10px;
    text-indent: 10px;
}
.gallery-caption {
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}