  html.boxed body {
    width:958px;
    margin: 0 auto;
  }
  #wrapper {
  padding: 20px 0 0;
  margin:0 -1.618em;
}
  /* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
  ul.nav {
    position: relative;
    margin-bottom: 0;
    width: auto;
    margin-right: 30px;
  }
  ul.nav li {
    position: relative;
    float: left;
    zoom: 1;
    list-style: none;
  }
  ul.nav li a {
    display: block;
    padding-top: 1em!important;
    padding-bottom: 1em!important;
  }
  ul.nav li a:hover {
    text-decoration: none;
  }
  ul.nav li ul li a:hover {
    text-decoration: underline;
  }
  ul.nav ul {
    width: 130%;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    margin: 0;
    padding: 0.4em 0;
  }
  ul.nav ul li {
    float: none;
  }
  ul.nav ul li a {
    width: 100%;
    display: inline-block;
    padding: 0.7em 1em!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em;
  }
  ul.nav ul ul {
    left: 100%;
    top: 0;
  }
  ul.nav li:hover > ul {
    visibility: visible;
  }

  /* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
  #top {
    margin: 0 -1.618em;
    padding: 0 1.618em;
  }
  #top #top-nav {
    display: block!important;
  }
  #top ul.nav ul {
  width:125%;
  }
  #top ul.nav li a {
    color: #b9b9b9;
    padding-top: 0.25em!important;
    padding-bottom: 0.35em!important;
    border-right: 1px solid #e1e1e1;
  }
  #top ul.nav > li a:hover {
      background: rgba(255, 255, 255, 1);
    color: #bf9764;
  }
  #top ul.nav > li:hover {
      background: rgba(255, 255, 255, 1);
    color: #ffffff;
  }
  #top ul.nav ul {
    background: #ddd;
  }
  #top ul.nav ul li a {
    color: #545454!important;
  }
  #top ul.nav li.current_page_item a,
  #top ul.nav li.current_page_parent a,
  #top ul.nav li.current-menu-ancestor a,
  #top ul.nav li.current-cat a,
  #top ul.nav li.current-menu-item a {
    color: #bf9764;
  }

  /* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
  #navigation {
    display: block !important;
  }
  #navigation ul ul li:first-child,
  #navigation ul ul li:first-child a {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  #navigation ul.nav > li {
    border-width:0 1px 0  0;
    -webkit-border-image:
    	-webkit-gradient(linear, 0 80%, 0 25%, from(#ffffff), to(rgba(222, 222, 222, 0))) 1 100%;
    -webkit-border-image:
    	-webkit-linear-gradient(center , #ffffff, rgba(222, 222, 222, 0)) 1 100%;
    -o-border-image:
    	     -o-linear-gradient(center , #ffffff, rgba(222, 222, 222, 0)) 1 100%;
    -moz-border-image:
    	   -moz-linear-gradient(center , #ffffff, rgba(222, 222, 222, 0)) 1 100%;
  }
  #navigation ul.nav > li a:hover {
     background: #ffffff;
  }
  #navigation ul.nav > li:hover {
    background: #ffffff;
  }
  #navigation ul.nav ul {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    border: 1px solid #ebebeb;
    left: -1px;
     box-shadow: .202em .202em 0 0 rgba(232, 228, 227, 0.15);
    -webkit-box-shadow: .202em .202em 0 0 rgba(232, 228, 227, 0.15);
    -webkit-box-shadow: .202em .202em 0 0 rgba(232, 228, 227, 0.15);
  }
  #navigation ul.nav ul ul {
    top: -1px;
    left: 100%;
  }
  #top .nav li.parent > a {
    position: relative;
    padding-right: 2em;
  }
  #top .nav li.parent > a:after {
    content: "";
    display: block;
    border: .3em solid #ccc;
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    top: 48%;
    right: .8751em;
  }
  #navigation .nav li ul li.parent a {
    padding-right: 0;
  }
  #navigation .nav li ul li.parent a:after {
    border-color: transparent transparent transparent #ccc;
    right: 0;
    top: 46%;
  }
  #navigation .nav li.parent > a {
    position: relative;
    padding-right: 2em;
  }
  #navigation .nav li.parent > a:after {
    font-family: "FontAwesome";
    content: "\f107";
    display: block;
    /*border: 0.3em solid #ccc;*/
    border-color: #ccc transparent transparent transparent;
    position: absolute;
    top: 34%;
    right: .8751em;
  }
  #navigation .nav li ul li.parent a {
    padding-right: 0;
    box-shadow: none;
  }
  #navigation .nav li ul li.parent > a:after {
    font-family: "FontAwesome";
    content: "\f105";
    right: 0.8751em;
    top: 34%;
  }

  #header h3.nav-toggle {
    display: none;
  }
 #top {
  background-color:#fff;
 }
  #top div.callus, #top div.social-top {
  display: block;
  }
  #top-searchform input {
  background-color:#bf9764;
  }
/* 4. GENERAL LAYOUT RELATED TWEAKS */
  /* Header */
  #logo {
    text-align: center;
  }
   /* Columns & Containers */
  .col-left {
    float: left;
  }
  .col-right {
    float: right;
  }
  .col-full,
   .home #main-sidebar-container #main.full-width,
   .page-template-404-php #main-sidebar-container #main.full-width,
   .error404 #main-sidebar-container #main.full-width
  /*#wrapper */{
    /*padding: 0 20px;*/
    max-width: 940px;
    width:100%;
    margin: 0 auto;
  }
  #wrapper #sidebar {
    margin-top: 0;
  }
    /* Sidebar */
  #main-sidebar-container {
    position: relative;
  }
  #main-sidebar-container #main {
    position: relative;
  }
  #main-sidebar-container #sidebar {
    display: inline;
  }
  #sidebar-alt {
    display: inline;
    margin: 0;
  }

   /*5. Footer */
  #footer-widgets .block {
    margin-right: 3.8%;
    float: left;
  }
  /* 210 / 940 */
  #footer-widgets.col-1 .block {
    width: 100%;
    margin-right: 0;
  }
  #footer-widgets.col-2 .block {
    width: 48%;
  }
  #footer-widgets.col-3 .block {
    width: 30.75%;
  }
  #footer-widgets.col-4 .block {
    width: 22.05%;
  }
  #footer-widgets.col-2 .footer-widget-2,
  #footer-widgets.col-3 .footer-widget-3,
  #footer-widgets.col-4 .footer-widget-4 {
    margin-right: 0;
  }
  /* Column Widths */
  .one-col #main {
    float: none;
  }
  .two-col-left #main-sidebar-container #main,
  .two-col-right #main-sidebar-container #main {
    width: 64.89%;
  }
  /* 610 / 940 */
  .two-col-left #main-sidebar-container #sidebar,
  .two-col-right #main-sidebar-container #sidebar {
    width: 31.91%;
  }
  /* 300 / 940 */
  .three-col-left #main-sidebar-container #sidebar,
  .three-col-middle #main-sidebar-container #sidebar,
  .three-col-right #main-sidebar-container #sidebar {
    width: 39.47%;
  }
  /* 300 / 760 */
  .three-col-left #main-sidebar-container,
  .three-col-middle #main-sidebar-container,
  .three-col-right #main-sidebar-container {
    width: 80.85%;
  }
  /* 760 / 940 */
  .three-col-left #main-sidebar-container #main,
  .three-col-middle #main-sidebar-container #main,
  .three-col-right #main-sidebar-container #main {
    width: 57.89%;
  }
  /* 440 / 760 */
  #sidebar-alt {
    width: 17.02%;
  }
  /* 160 / 940 */
  /* Column Floating */
  .two-col-left #main-sidebar-container #main,
  .two-col-right #main-sidebar-container #sidebar,
  .three-col-left #main-sidebar-container,
  .three-col-left #main-sidebar-container #main,
  .three-col-middle #main-sidebar-container #main,
  .three-col-middle #sidebar-alt,
  .three-col-right #main-sidebar-container #sidebar,
  .three-col-right #sidebar-alt {
    float: left;
  }
  .two-col-left #main-sidebar-container #sidebar,
  .two-col-right #main-sidebar-container #main,
  .three-col-left #main-sidebar-container #sidebar,
  .three-col-left #sidebar-alt,
  .three-col-middle #main-sidebar-container,
  .three-col-middle #main-sidebar-container #sidebar,
  .three-col-right #main-sidebar-container,
  .three-col-right #main-sidebar-container #main {
    float: right;
  }
  /* Elegant Post */
.elegant-post-meta {
display: block;
float: left;
width:9.9%;
}
elegant-post-meta .meta .meta-divider {
  height: 100px;
  border-right: 2px solid #bf9764;
  width: 50%;
}
elegant-post-meta .meta .day,
elegant-post-meta .meta .month,
elegant-post-meta .meta .year {
display: block;
text-align: center;
background: #fff;
}
elegant-post-meta .meta .month {
text-transform: uppercase;
font-weight: normal;
color: #b9b9b9;
font-size: .857em;
padding: .202em 0 ;
margin-bottom: .71em;
}
elegant-post-meta .meta .day {
font-size: 2.8em;
padding-bottom: .25em;
font-weight: normal;
color: #bf9764;
font-family: 'Georgia';
}

.page-template-template-blog-elegant-php .post-meta  ul li{
list-style-type: none;
clear: both;
}
.page-template-template-blog-elegant-php .entry {
float:right;
width:86.9%;
}
  .home .flexslider,
  .page-template-template-home-php .flexslider {
    display: inline;
    float: left;
    width:100%;
    margin-top:-3.15em;
    overflow: hidden;
  }
  .home .flexslider li.slide,
  .page-template-template-home-php .flexslider li.slide {
    position: relative;
  }
  .home .flexslider li.slide .slide-content,
  .page-template-template-home-php .flexslider li.slide .slide-content {
    background: none;
    position: absolute;
    top: 28%;
    left: 12.236em;
    padding: 0;
    width: 100%;
 /*   display: none;*/
  }
  .home .flexslider li.slide .slide-content header,
  .home .flexslider li.slide .slide-content .entry,
  .page-template-template-home-php .flexslider li.slide .slide-content header,
  .page-template-template-home-php .flexslider li.slide .slide-content .entry{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1em 2.244em;
  }
  .home .flexslider li.slide .slide-content .entry p,
   .page-template-template-home-php .flexslider li.slide .slide-content .entry p{
      color: #fff;
   }
  .home .flexslider li.slide .slide-content header,
   .page-template-template-home-php .flexslider li.slide .slide-content header{
    width: auto;
    float: left;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-bottom: 0;
    max-width: 50.829%;
  }
  .home .flexslider li.slide .slide-content header h1,
  .page-template-template-home-php .flexslider li.slide .slide-content header h1{
    color: #fff;
    font-size: 260%;
    margin: 0;
  }
  .home .flexslider li.slide .slide-content header h1 a,
  .page-template-template-home-php .flexslider li.slide .slide-content header h1 a {
    color: #fff;
  }
  .home .flexslider li.slide .slide-content header:last-child,
  .page-template-template-home-php .flexslider li.slide .slide-content header:last-child {
    padding-bottom: 1em;
  }
  .home .flexslider li.slide .slide-content .entry,
  .page-template-template-home-php .flexslider li.slide .slide-content .entry {
    width: 39.89%;/*59.301%;*/
    clear: left;
    padding-top: 1.618em;
    padding-bottom: 1.618em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .rev_slider_wrapper {
  margin:-3.15em auto 3.15em !important;
}
/*Error 404*/
.page-template-404-php .entry,
.error404 .entry {
  margin: 0 auto;
  width: 42.55%;
}

  .three-col-left #main-sidebar-container .recipe-info-page ,
  .three-col-middle #main-sidebar-container .recipe-info-page ,
  .three-col-right #main-sidebar-container .recipe-info-page {
  	padding: 0 !important;
  }

    /* Contact Page */
  .page-template-template-contact-php .location-twitter .col-left {
    float: left;
  }
  .page-template-template-contact-php .location-twitter #office-location {
    width: 48%;
    margin: 0;
  }
  .page-template-template-contact-php .location-twitter .contact-social {
    float: right;
    width: 48%;
  }
  .page-template-template-contact-php .location-twitter .contact-social #twitter {
    margin: 0;
  }

  #footer-wrap, #footer-wrap-bottom {
   margin: 0;
   padding: 0 ;
}
#footer {
 padding-bottom:0;
}
/*Woocommerce*/
 #top nav.account-links , #top ul.cart {
    display: block;
  }

  #top ul.cart {
margin-bottom: 0;
}
#top ul.cart li.container a.cart-contents span.contents {
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
float: none;
}
#top ul.cart li.container {
position: relative;
border-left: 1px solid #e1e1e1;
}
#top ul.cart li.container .widget {
position: absolute;
top: 100%;
right: 0;
z-index: 99;
background: #ffffff;
border-top: 2px solid #bf9764;
box-shadow:0 2px 5px #e1e1e1;
-moz-box-shadow: 0 2px 5px #e1e1e1;
-webkit-box-shadow: 0 2px 5px #e1e1e1;
margin: 0;
list-style: none;
padding: 1em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 19.928em;
}
#top ul.cart li.container:hover .widget {
display: block;
}
#top ul.cart li.container .widget .cart_list li {
padding:0 0 0 1.067em;
}
#top ul.cart li.container .widget .cart_list li img{
margin-bottom: 0;
}
  .col2-set {
    clear: both;
  }
  .col2-set:after {
    content: "";
    display: block;
    clear: both;
  }
  .col2-set .col-1 {
    width: 49%;
    float: left;
  }
  .col2-set .col-2 {
    width: 49%;
    float: right;
  }
  .form-row {
    width: 49%;
    float: left;
  }
  .form-row label {
    display: block;
  }
  .form-row .input-text,
  .form-row select {
    width: 100%;
    *width: 90%;
     padding: 6px;
     border: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-row input[type=checkbox] {
    float: left;
  }
  .form-row.notes {
    width: 100%;
  }
  .form-row.notes textarea {
    width: 100%;
    *width: 90%;
  }
  .form-row-first {
    clear: left;
  }
  .form-row-last {
    float: right;
  }
  .form-row-wide {
    float: left;
    width: 100%;
    clear: both;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator,
  .cart-collaterals .cross-sells {
    width: 48%;
    float: right;
  }
  .cart-collaterals .cross-sells {
    float: left;
  }
 /* .woocommerce.one-col .related,
  .woocommerce.one-col .upsells {
    width: 48%;
  }
  .woocommerce.one-col .related {
    float: left;
  }
  .woocommerce.one-col .upsells {
    float: right;
  }
  .woocommerce.one-col .upsells ul {
    float: left;
    width: 100%;
  }*/
  .woocommerce .images {
    width: 48%;
    margin-right: 3.8%;
    float: left;
  }
  .woocommerce .summary {
    width: 48%;
    float: right;
    margin-bottom: 1.5em;
  }
  .woocommerce .woocommerce-tabs ul.tabs,
  .woocommerce .woocommerce_tabs ul.tabs {
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #e1e1e1;
  }
  .woocommerce .woocommerce-tabs .panel,
  .woocommerce .woocommerce_tabs .panel {
    padding: 1.618em;
  }
  ul.products li.product {
    clear: none;
    width: 22%;
    margin-right: 3.8%;
  }
  ul.products li.product:nth-child(2n) {
    float: left;
  }
  ul.products li.product.first {
    clear: left;
  }
  ul.products li.product.last {
    margin-right: 0;
  }
  .single-product .onsale {
right:50%;
}
/*Woocommerce Product Columns*/
.woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
.woocommerce-columns-3 ul.products li.product {
    display: inline;
    float: left;
    width: 29.629629629629626%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 29.577546296296294%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
.woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }
   .woocommerce-columns-5 ul.products li.product {
    width: 17.21%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }

  /*Woocommerce homepage Product Columns*/
/*.home .woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
.home .woocommerce-columns-3 ul.products li.product {
    display: inline;
    float: left;
    width: 29.629629629629626%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 29.577546296296294%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
.home .woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }
 .home .woocommerce-columns-5 ul.products li.product {
    width: 17.21%;
    margin-left: 1.4%;
    margin-right: 1.4%;
  }*/
    .single-product .related,
  .single-product .upsells,
 {
    display: inline;
    float: left;
    width: 96.29629629629629%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 96.24421296296296%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
  .single-product .related ul.products,
  .single-product .upsells ul.products
 {
    display: block;
    width: 103.7037037037037%;
    margin-left: -1.8518518518518516%;
    margin-right: -1.8518518518518516%;
    *width: 103.65162037037037%;
    *margin-left: -1.903935185185185%;
    *margin-right: -1.903935185185185%;
    *zoom: 1;
  }
  .single-product .related ul.products:after,
  .single-product .upsells ul.products:after
 {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .single-product .related ul.products:before,
  .single-product .upsells ul.products:before,
  .single-product .related ul.products:after,
  .single-product .upsells ul.products:after
 {
    content: "";
    display: table;
  }
  .single-product .related ul.products:after,
  .single-product .upsells ul.products:after
  {
    clear: both;
  }
  .single-product .related ul.products li.product,
  .single-product .upsells ul.products li.product
  {
    display: inline;
    float: left;
    width: 29.629629629629626%;
    margin-left: 1.8518518518518516%;
    margin-right: 1.8518518518518516%;
    *width: 29.577546296296294%;
    *margin-left: 1.7997685185185184%;
    *margin-right: 1.7997685185185184%;
  }
  .single-product.one-col .product .related ul.products,
  .single-product.one-col .product .upsells ul.products {
    display: block;
    width: 102.77777777777777%;
    margin-left: -1.3888888888888888%;
    margin-right: -1.3888888888888888%;
    *width: 102.72569444444444%;
    *margin-left: -1.440972222222222%;
    *margin-right: -1.440972222222222%;
    *zoom: 1;
  }
  .single-product.one-col .product .related ul.products:after,
  .single-product.one-col .product .upsells ul.products:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .single-product.one-col .product .related ul.products:before,
  .single-product.one-col .product .upsells ul.products:before,
  .single-product.one-col .product .related ul.products:after,
  .single-product.one-col .product .upsells ul.products:after {
    content: "";
    display: table;
  }
  .single-product.one-col .product .related ul.products:after,
  .single-product.one-col .product .upsells ul.products:after {
    clear: both;
  }
  .single-product.one-col .product .related ul.products li.product,
  .single-product.one-col .product .upsells ul.products li.product {
    display: inline;
    float: left;
    width: 22.22222222222222%;
    margin-left: 1.3888888888888888%;
    margin-right: 1.3888888888888888%;
    *width: 22.17013888888889%;
    *margin-left: 1.3368055555555556%;
    *margin-right: 1.3368055555555556%;
  }

  table.cart .product-remove,
  table.cart .product-thumbnail,
  table.cart .product-price {
    display: table-cell;
  }
  table.cart td.actions {
    text-align: right;
  }
  table.cart td.actions .coupon {
    width: 50%;
    float: left;
  }
  table.cart td.actions .input-text,
  table.cart td.actions .button,
  table.cart td.actions .checkout-button {
    width: auto;
    display: inline-block;
    margin-bottom: 0 !important;
  }