/* 4.2 Generic Widgets */
.widget {
    margin: 0 0 30px 0;
    font-size: 13px;
}
.widget, #footer-widgets {
    h3 {
        margin: 0 0 0.8em;
        padding: 0 0 0.8em;
        color: #545454;
        /* border-bottom: 1px solid #e1e1e1; */
    }
    h5 { font-size: 1.3em; }
}
.widget p {
    margin-bottom: 15px;
    color: #7A7A7A;
}
.widget ul {
    clear: both;
    /*list-style-position: inside;
    */
  list-style-type: none;
}
.widget ul li {
    clear: both;
    padding: 6px 0 6px 24px;
    /* margin-bottom: 6px; */
    /* margin-left: 12px; */
    line-height: 17px;
    color: #7A7A7A;
}
.widget ul li a {
    padding: 0;
    line-height: 17px;
    text-decoration: none;
    color: #B9B9B9;
}
.widget ul li a:hover {
    text-decoration: underline;
}
.widget ul ul {
    padding: 0 0 0 15px;
    border-top: none;
}
.widget_categories li, .widget_recent_comments li, #twitter li {
    padding: 0 0 6px;
    /* margin-bottom: 6px;
    */
  line-height: 17px;
    border-bottom: 1px solid #e1e1e1;
}
/* RESET LI STYLING FOR RECENT COMMENT & TWITTER */
.widget_categories li:before, .widget_recent_entries li:before, .widget_archive li:before, .widget_meta li:before,
.widget_recent_comments li:before, .Recipe_Types_Widget li:before, .Skill_Level_Widget li:before, .Courses_Widget li:before,
.Ingredients_Widget li:before, .Calories_Widget li:before, .Cuisines_Widget li:before {
    font-family: 'FontAwesome';
    content: "\f0da";
    position: relative;
    display: inline-block;
    left: -3px;
    text-indent: -12px;
}
.Cuisines_Widget select, .Courses_Widget select, .Calories_Widget select,
.Ingredients_Widget select, .Skill_Level_Widget select, .Recipe_Types_Widget select {
    padding: 8px 6px;
    width: 100%;
    border: 1px solid #e1e1e1;
    color: #777;
}
.widget_recent_comments li a, #twitter a {
    display: inline;
    padding: 0;
    line-height: 17px!important;
    background: none!important;
    border: none!important;
}
/* TWITTER */
.widget_woo_twitter .back {
    -webkit-border-radius: 0.327em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.widget_woo_twitter h3 {
    color: #545454;
    border-width: 1px 0 4px;
}
.widget_woo_twitter ul {
    margin: 0;
    padding: 0;
}
.widget_woo_twitter ul li:before {
    font-family: 'FontAwesome';
    content: "\f099";
    position: relative;
    display: inline-block;
    left: -12px;
    text-indent: -12px;
    color: #bf9764;
}
.widget_woo_twitter ul li {
    margin: 0 0 6px ;
    padding: 0 0 6px 24px;
    border-bottom: 1px solid #e1e1e1;
    list-style: none;
    /*font-size: 12px;
    */
line-height: 17px;
}
.widget_woo_twitter ul li a {
    padding: 0;
}
.widget_woo_twitter ul li .time, .widget_woo_twitter p {
    color: #545454;
}
.widget_contact address {
    font-style: normal;
}
.widget_contact address span p {
    margin-bottom: 2px;
}
.widget_contact address i {
    padding: 0 10px;
    display: inline-block;
}
.widget_woo_subscribe .social a:before {
    font-family : 'fontAwesome' !important;
}


/* 4.2 Specific Widgets */
/* Minor WooSlider Compatibility Additions */
.widget .wooslider ul li a {
    padding: 0;
}
/* SEARCH FORM */
.searchform {
    width: 99%;
    margin-top: 5px;
    position: relative;

}
.searchform label {
}
.searchform input.s {
    padding: 9px 8px 6px;
    width: 94%;
    margin: 0;
    border: 1px solid #e1e1e1;
    background: none;
    color: #777;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.searchform input#s {
    padding: 9px 8px 6px;
    width: 72.9386%;
    margin: 0;
    border: 1px solid #e1e1e1;
    background: none;
    color: #777;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.searchform input#searchsubmit {
    padding: 9px 8px 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    outline: 0;
    background: #bf9764;
    color: #fff;
    border: 1px solid #bf9764;
}
.searchform input[type=checkbox] {
    margin: 0 5px;
}
.searchform input.s:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.searchform input.submit {
    position: absolute;
    background: #bf9764;
    top: 0;
    right: 0;
    border: none;
    margin: 0;
    padding: 8px;
    border-top-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
}
.searchform button{
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    background: none;
    border: none;
    color: #fff;
    background: #bf9764;
}
/* 4.3 WooTabs */
#tabs, #recipe-tabs {
    height: auto;
    display: block;
    margin-bottom: 20px;
}
#tabs ul.wooTabs, #recipe-tabs ul.wooTabs {
    position: relative;
    bottom: -1px;
    padding: 0px;
    z-index: 99;
}
#tabs ul.wooTabs li, #recipe-tabs ul.wooTabs li {
    clear: none;
    padding: 0;
    float: left;
    display: inline;
    margin-right: 2px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #recipe-tabs ul.wooTabs li a.selected, #recipe-tabs ul.wooTabs li a:hover {
    background: #fff;
    text-decoration: none;
    border: 1px solid #d9d9d9;
    border-width: 1px 1px 0;
    color: #666;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
    background: -webkit-linear-gradient(#f2f2f2, #ffffff);
    background: -moz-linear-gradient(center top, #f2f2f2 0%, #ffffff 100%);
    background: -moz-gradient(center top, #f2f2f2 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f2f2, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f2f2, endColorstr=#ffffff)";
    box-shadow: inset 0 1px 0 #ffffff, 0 -1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 #ffffff, 0 -1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 -1px 3px rgba(0, 0, 0, 0.1);
}
#tabs ul.wooTabs li a, #recipe-tabs ul.wooTabs li a {
    color: #999;
    display: block;
    float: left;
    border: 1px solid transparent;
    border-width: 1px 1px 0;
    padding: 5px 8px 3px;
    text-transform: uppercase;
    font-size: 11px;
    text-shadow: 1px 1px 0 solid #fff;
}
#tabs .inside, #recipe-tabs .inside {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
#tabs .inside li, #recipe-tabs .inside li {
    background: #fff;
}
#tabs #tab-tags , #recipe-tabs #tab-tags {
    padding: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
}
#tabs .inside ul, #recipe-tabs .inside ul {
    margin: 0;
    border: 1px solid #d9d9d9;
    border-width: 1px 0 1px 0;
    list-style: none;
    padding-left: 0px;
}
#tabs .inside li, #recipe-tabs .inside li {
    border: 1px solid #d9d9d9;
    border-width: 0 1px 1px 1px;
    padding: 10px;
}
#tabs .inside li a, #recipe-tabs .inside li a {
    color: #999;
    font: bold 13px/18px Helvetica, Arial, sans-serif;
    padding: 0;
}
#tabs .inside li span.meta, #recipe-tabs .inside li span.meta {
    display: block;
    font: 300 11px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #777;
}
#tabs .inside li img.avatar, #tabs .inside li img.thumbnail, #recipe-tabs .inside li img.avatar, #recipe-tabs .inside li img.thumbnail {
    float: left;
    margin: 0 8px 0 0;
    padding: 0;
    border-radius: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
}
#tabs, #recipe-tabs {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover, #recipe-tabs ul.wooTabs li a.selected, #recipe-tabs ul.wooTabs li a:hover {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
}
#tabs .inside .list, #recipe-tabs .inside .list {
    display: none;
}
#tabs .inside .list:first-child, #recipe-tabs .inside .list:first-child {
    display: block;
}

/*-----------------------------------------------------------------------------------*/
/*  Widget
/*-----------------------------------------------------------------------------------*/
/*Mics recipe=========================================*/
.tabed {
}
.tabed .tabs {
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}
.tabed .tabs li {
    display: inline;
    padding: 6px 15px 6px!important;
    margin: 0px 0px 0px 9px !important;
    background-color: #fff !important;
    position: relative;
    cursor: pointer;
    z-index: 99;
    bottom: 5.5px;
}
.tabed .tabs li.current {
    background: none !important;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #fff;
}
.tabed .block {
    display: none;
}
.tabed .block.current {
    display: block;
}
.tabed .block li {
    overflow: hidden;
    height: 64px;
    padding: 0px 0px 18px;
    margin: 0px 0px 13px;
}
.tabed .block li .img-box {
    display: block;
    width: 67px;
    height: 60px;
    float: left;
    padding: 4px 0px 0px 4px;
    margin: 0px 10px 0px 0px;
}
.tabed .block li .img-box img {
    width: 63px;
    height: 53px;
}
.tabed .block li .rate {
    color: #0053a6;
}
.tabed .block li .rate span {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/rating_small.png) right top no-repeat;
    vertical-align: middle;
    line-height: 18px;
}
.tabed .block li .rate span:last-child {
    margin-right: 5px;
}
.tabed .block li .rate span.on {
    background: url(../images/rating_small.png) left top no-repeat;
}
/*Ad recipe======================================================*/
.ads {
    margin-bottom: 20px;
}
/*Recent recipe footer==================================================*/
.recent-posts {
    overflow: hidden;
}
.recent-posts li {
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px dotted #ababab;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.recent-posts li .img-box {
    display: block;
    width: 67px;
    height: 60px;
    margin: 0px 10px 0px 0px;
    float: left;
    overflow: hidden;
}
.recent-posts li .img-box img {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
.recent-posts li h5 {
    margin: .35em 0 0;
}
/*Recent recipe footer==================================================*/
.widget .recent-posts-sidebar {
    overflow: hidden;
}
.widget .recent-posts-sidebar h5 {
    margin: 0.5335em 0 .25em;
}
.widget .recent-posts-sidebar li {
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px dotted #ebebeb;
    margin-bottom: 6px;
    padding: 0 0 10px 0;
}
.widget .recent-posts-sidebar li .rating {
    text-align: left;
}
.widget .recent-posts-sidebar li .img-box {
    display: block;
    width: 85px;
    height: 55px;
    padding: 4px 0px 0px 4px;
    margin: 0px 10px 0px 0px;
    float: left;
    overflow: hidden;
}
.widget .recent-posts-sidebar li .img-box img {
}
.widget .recent-posts-sidebar .rating span{
    float: left;
}

/*popular recipe==================================================*/
.widget .popular-posts {
    overflow: hidden;
}
.widget .popular-posts li {
    display: block;
    padding: 0;
    float: left;
    width: 100%;
    border-bottom: 1px dotted #ebebeb;
    margin-bottom: 6px;
    padding-bottom: 10px;
}
.widget .popular-posts li .rating {
    text-align: left;
    margin-top: -10px;
}
.widget .popular-posts li .img-box {
    display: block;
    width: 67px;
    height: 60px;
    margin: 0px 10px 0px 0px;
    float: left;
    overflow: hidden;
}
.widget .popular-posts li h5 {
    padding: .35em 0 0;
}
.recent-posts li h5 a, .widget .recent-posts-sidebar li h5 a, .widget .popular-posts li h5 a, .Recipe_Sidebar_Tabed_Widget li h5 a {
    color: #969696;
}
.recent-posts li h5 a:hover, .widget .recent-posts-sidebar li h5 a:hover, .widget .popular-posts li h5 a:hover, .Recipe_Sidebar_Tabed_Widget li h5 a:hover {
    color: #bf9764;
}
.popular-posts li .img-box img {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
}
/*News event footer==================================================*/
.newsEvent {
}
.newsEvent .list li {
    padding: 0px 0px 0px;
    margin: 0px 0px 20px;
}
.newsEvent .list li:last-child {
    background: none;
}
.newsEvent a {
}
.newsEvent a:hover, .newsEvent a:focus {
}

@media only screen and ( max-width: 321px ) {
    .widget_search .searchform input#searchsubmit {
        margin-top: 15px;
    }
}