/*-------------------------------------------------------------------------------------------*/
/* RESET - http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
    cursor: pointer;
}
/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
    -ms-interpolation-mode: bicubic;
}
/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
textarea {
    overflow: auto;
}
b, strong {
    font-weight: bold;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
    margin: 0;
}
/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #f7f7f7;
    padding: 1em;
    margin-bottom: 1.333em;
}
/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
    outline: none;
}
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
mark{
    background: transparent;
}
/* Floating & Alignment  */
.fl {
    float: left;
}
.fr {
    float: right;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.fix:before, .fix:after, .col-full:before, .col-full:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.fix:after, .col-full:after {
    clear: both;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.fix, .col-full {
    zoom: 1;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}
/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/
/* 1.1 Defaults */
body {
    padding: 0 1.618em;
    font: 300 13px "Open Sans", Helvetica, Arial, Sans-serif;
    color: #545454;
    line-height: 20px;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    opacity: 1;
    // -webkit-transition: opacity 0.4s;
    // -moz-transition: opacity 0.4s;
    // transition: opacity 0.4s;
}
img:not(.attachment-shop_catalog):hover{
    opacity: .5;
}
hr {
    background-color: #e1e1e1;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
/* 1.2 Hyperlinks */
a {
    color: #545454;
    text-decoration: none;
}
a:hover {
    color: #bf9764;
    text-decoration: none;
}
.clear {
    clear: both;
}
/* 1.3 Typography */
/*
  All typography (and layout) based on a modular scale using 13 & 12 px values scaled in accordance the minor second (1.067)
  http://modularscale.com/scale/?px1=13&px2=12&ra1=1.067&ra2=0
  Remember to keep margins consistent and try to avoid margin-top. If everything has an appropriate margin-bottom we don't need one and vertical rhythm will be kept consistent
*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", sans-serif;
    color: #545454;
    margin: 0 0 1.067em;
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
}
h1 {
    font-size: 36px;
    line-height: 1.067em;
}
h2 {
    font-size: 24px;
    line-height: 1.067em;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
p {
    line-height: 2;
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens: auto;
    orphans: 3;
    widows: 3;
}
ul, ol, dl, p, table, form, pre, hr {
    margin: 0 0 1.067em 0;
}
li > ul, li > ol {
    margin: 0 0 0 .75em;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 1.067em;
}
blockquote {
    quotes: "\201C" "\201D";
    position: relative;
    color: #39302d;
}
blockquote:before {
    content: "\201C";
    font-family: sans-serif;
    font-size: 3.631em;
    position: absolute;
    top: -0.327em;
    left: -0.53em;
    color: #c6c2c1;
}


/* 1.4 Tables */
table {
    width: 100%;
    font-size: 0.813em;
    margin-bottom: 1.067em;
}
table th, table td {
    border-bottom: 1px solid #e8e4e3;
    padding: 1.067em;
    vertical-align: top;
    text-align: left;
}
table th {
    text-transform: uppercase;
}
table tr th:first-child, table tr td:first-child {
    padding-left: 0;
}
table tr th:last-child, table tr td:last-child {
    padding-right: 0;
}
.gallery-caption {
    opacity: 1
}