
/* Media Uploader */
#TB_overlay, #TB_window{
    z-index:500001;
}

.md-upload-current-image{
    margin: 5px 0;
}

.md-upload-current-image img{
    max-width: 100%;
    height:auto;
}
#md-upload-wrap {
	position: relative;
}
#md-upload-wrap .btn-remove {
background: url("../../../functions/images/ico-delete.png") no-repeat;
border: medium none;
bottom: -4px;
display: block;
float: left;
height: 16px;
padding: 0;
position: absolute;
left: -4px;
text-indent: -9999px;
width: 16px;
}
/*---------------------*/

.customize-control {
padding-bottom: 15px;
}

.customize-control .customize-images-picker img {
	vertical-align: middle;
	line-height: 28px;
}

.customize-info {
	border-width:1px 0 1px 0; 
	border-style:solid;
	border-color:#efe3ae;
	background: #fef6d2;
	padding: 3px;
	font-size: 11px;
    color: #666;
    margin: 2px 0 5px;
}
.customize-info span{
	font-style: italic;
	font-weight: bold;
}
.customize-image-picker .dropdown {
	width: 100%;
}

.customize-control-image .dropdown-content {
  float: none;
}

.customize-control-image .dropdown-status {
  max-width: none;
}